files/n8n/6yglJODh5JRiOFV3.json
{"createdAt":"2024-09-11T17:43:13.219Z","updatedAt":"2024-09-11T17:59:49.000Z","id":"6yglJODh5JRiOFV3","name":"Docker CI","active":true,"nodes":[{"parameters":{"command":"docker ps --format \"{{.Names}}\"","cwd":"/home/rodcordeiro"},"id":"44bfc746-52d6-44b6-94a1-73ae2a0a6d1e","name":"SSH","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[440,120],"credentials":{"sshPassword":{"id":"qZknTMsZz6tVW4rT","name":"SSH VPS"}}},{"parameters":{"authentication":"webhook","content":"={{ $json.stdout }}","options":{}},"id":"96b73ed4-414d-46d0-ae18-45ce37c06a04","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,120],"credentials":{"discordWebhookApi":{"id":"7PIUf9x4cVtVDDuN","name":"Testes "}}},{"parameters":{"path":"657998bf-e6ad-445d-9ccd-132772f691d7","responseMode":"lastNode","responseData":"allEntries","options":{}},"id":"5a01080f-3a92-479b-bcfc-452f58485ccc","name":"Docker Image published","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,120],"webhookId":"657998bf-e6ad-445d-9ccd-132772f691d7"}],"connections":{"SSH":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Docker Image published":{"main":[[{"node":"SSH","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dd8adcc5-7200-471d-9cab-1c010cfcd041","triggerCount":1,"tags":[]}