files/n8n/6yglJODh5JRiOFV3.json
{"createdAt":"2024-09-11T17:43:13.219Z","updatedAt":"2024-09-11T17:59:49.000Z","id":"6yglJODh5JRiOFV3","name":"Docker CI","active":true,"nodes":[{"parameters":{"command":"docker ps --format \"{{.Names}}\"","cwd":"/home/rodcordeiro"},"id":"44bfc746-52d6-44b6-94a1-73ae2a0a6d1e","name":"SSH","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[440,120],"credentials":{"sshPassword":{"id":"qZknTMsZz6tVW4rT","name":"SSH VPS"}}},{"parameters":{"authentication":"webhook","content":"={{ $json.stdout }}","options":{}},"id":"96b73ed4-414d-46d0-ae18-45ce37c06a04","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,120],"credentials":{"discordWebhookApi":{"id":"7PIUf9x4cVtVDDuN","name":"Testes "}}},{"parameters":{"path":"657998bf-e6ad-445d-9ccd-132772f691d7","responseMode":"lastNode","responseData":"allEntries","options":{}},"id":"5a01080f-3a92-479b-bcfc-452f58485ccc","name":"Docker Image published","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,120],"webhookId":"657998bf-e6ad-445d-9ccd-132772f691d7"}],"connections":{"SSH":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Docker Image published":{"main":[[{"node":"SSH","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dd8adcc5-7200-471d-9cab-1c010cfcd041","triggerCount":1,"shared":[{"createdAt":"2024-09-11T17:43:13.235Z","updatedAt":"2024-09-11T17:43:13.235Z","role":"workflow:owner","workflowId":"6yglJODh5JRiOFV3","projectId":"4GViomCBul5oQgfN","project":{"createdAt":"2024-08-25T02:37:44.788Z","updatedAt":"2024-08-25T02:38:43.239Z","id":"4GViomCBul5oQgfN","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-08-25T02:37:44.789Z","updatedAt":"2024-08-25T02:37:44.789Z","role":"project:personalOwner","userId":"7c510815-41f6-46c7-b0a4-37236adacd0d","projectId":"4GViomCBul5oQgfN","user":{"createdAt":"2024-08-25T02:37:43.943Z","updatedAt":"2024-09-11T17:51:10.915Z","id":"7c510815-41f6-46c7-b0a4-37236adacd0d","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"companyType":"personal","reportedSource":"linkedin","version":"v4","personalization_survey_submitted_at":"2024-08-25T02:40:44.530Z","personalization_survey_n8n_version":"1.55.3"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"9cbyCpf0fZioeTQw","userActivatedAt":1724662838190,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1726077098012}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}