files/n8n/6yglJODh5JRiOFV3.json
{"createdAt":"2024-09-11T17:43:13.219Z","updatedAt":"2024-09-12T23:00:28.000Z","id":"6yglJODh5JRiOFV3","name":"Docker CI","active":true,"nodes":[{"parameters":{"command":"docker ps --format \"{{.Names}}|{{.Image}}\"","cwd":"/home/rodcordeiro"},"id":"44bfc746-52d6-44b6-94a1-73ae2a0a6d1e","name":"SSH","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[440,120],"credentials":{"sshPassword":{"id":"qZknTMsZz6tVW4rT","name":"SSH VPS"}}},{"parameters":{"authentication":"webhook","content":"={{ $json.stdout }}","options":{}},"id":"96b73ed4-414d-46d0-ae18-45ce37c06a04","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,120],"credentials":{"discordWebhookApi":{"id":"7PIUf9x4cVtVDDuN","name":"Testes "}}},{"parameters":{"content":"Exemplo payload webhook docker\n```\n{\n  \"callback_url\": \"https://registry.hub.docker.com/u/svendowideit/testhook/hook/2141b5bi5i5b02bec211i4eeih0242eg11000a/\",\n  \"push_data\": {\n    \"pushed_at\": 1417566161,\n    \"pusher\": \"trustedbuilder\",\n    \"tag\": \"latest\"\n  },\n  \"repository\": {\n    \"comment_count\": 0,\n    \"date_created\": 1417494799,\n    \"description\": \"\",\n    \"dockerfile\": \"#\\n# BUILD\\u0009\\u0009docker build -t svendowideit/apt-cacher .\\n# RUN\\u0009\\u0009docker run -d -p 3142:3142 -name apt-cacher-run apt-cacher\\n#\\n# and then you can run containers with:\\n# \\u0009\\u0009docker run -t -i -rm -e http_proxy http://192.168.1.2:3142/ debian bash\\n#\\nFROM\\u0009\\u0009ubuntu\\n\\n\\nVOLUME\\u0009\\u0009[/var/cache/apt-cacher-ng]\\nRUN\\u0009\\u0009apt-get update ; apt-get install -yq apt-cacher-ng\\n\\nEXPOSE \\u0009\\u00093142\\nCMD\\u0009\\u0009chmod 777 /var/cache/apt-cacher-ng ; /etc/init.d/apt-cacher-ng start ; tail -f /var/log/apt-cacher-ng/*\\n\",\n    \"full_description\": \"Docker Hub based automated build from a GitHub repo\",\n    \"is_official\": false,\n    \"is_private\": true,\n    \"is_trusted\": true,\n    \"name\": \"testhook\",\n    \"namespace\": \"svendowideit\",\n    \"owner\": \"svendowideit\",\n    \"repo_name\": \"svendowideit/testhook\",\n    \"repo_url\": \"https://registry.hub.docker.com/u/svendowideit/testhook/\",\n    \"star_count\": 0,\n    \"status\": \"Active\"\n  }\n}\n```","height":514,"width":422,"color":7},"id":"44db0060-4273-4edf-9c8b-8a1a25c88f24","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,0]},{"parameters":{"httpMethod":"POST","path":"657998bf-e6ad-445d-9ccd-132772f691d7","responseMode":"lastNode","responseData":"allEntries","options":{}},"id":"5a01080f-3a92-479b-bcfc-452f58485ccc","name":"Docker Image published","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,120],"webhookId":"657998bf-e6ad-445d-9ccd-132772f691d7"}],"connections":{"SSH":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Docker Image published":{"main":[[{"node":"SSH","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"27fc29c8-142f-4343-8c40-573ffc437c52","triggerCount":1,"tags":[]}