files/n8n/9cbyCpf0fZioeTQw.json
{"createdAt":"2024-08-25T15:58:34.262Z","updatedAt":"2024-09-16T13:10:49.000Z","id":"9cbyCpf0fZioeTQw","name":"Raizes","active":true,"nodes":[{"parameters":{"method":"POST","url":"http://82.180.136.148:3341/api/v1/auth/login","sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"rodcordeiro"},{"name":"password","value":"@Drigo13"}]},"options":{}},"id":"4d5b6786-bc44-4da9-b73d-09fab9989ccc","name":"auth","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,20]},{"parameters":{"url":"http://82.180.136.148:3341/api/v1/points","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"}]},"options":{}},"id":"68b34a3a-be52-434c-a64c-d90c8b4fc854","name":"points","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,20],"alwaysOutputData":true},{"parameters":{"type":"random"},"id":"e5be17eb-6e0d-4f91-82b5-4fac925f5c1f","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[1100,0]},{"parameters":{},"id":"a0666966-c199-4273-ab66-d628cf934f3c","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1340,0],"alwaysOutputData":true},{"parameters":{"authentication":"webhook","content":"=\nBom dia gente, benção pais, mães e mais velhos e que Logun Edé e Exu nos abençoem e bora de ponto. Ponto de {{ $json.linha.nome }}, no ritmo {{ $json.ritmo.nome }}.\n\n```\n{{ $json.letra }}\n```\n\n{{ $json.audio_url }}\n\nMais pontos de {{ $json.linha.nome }} no https://raizes.rodrigocordeiro.com.br/index.php?buscar={{ $json.linha.nome.urlEncode() }}#{{ $json.id }}","options":{"avatar_url":"HTTPS://rodcordeiro.github.io/shares/favicons/favicon-raizes/ms-icon-144x144.png","username":"Raízes"}},"id":"c846186e-8dac-4b4d-a0c0-d0f66616917a","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[1500,0],"credentials":{"discordWebhookApi":{"id":"7PIUf9x4cVtVDDuN","name":"Testes "}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"8e262e4d-cba6-419f-82ad-19f1faa86e47","name":"Ponto do dia","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-820,20]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"626719c4-5c4b-4396-8d12-a42f282b0843","leftValue":"={{ $('d20').item.json.d20 }}","rightValue":18,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"8fec8e37-acf2-40c5-9743-7e102c4d0088","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-180,20]},{"parameters":{"fileSelector":"/files/schedule.json","options":{"dataPropertyName":"data"}},"id":"7e7f0d88-face-4b12-a60d-3f5fcb380a6a","name":"Read/Write Files from Disk1","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[40,260],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"jsCode":"function getNextSaturday() {\n    const today = new Date();\n    const dayOfWeek = today.getDay(); // 0 (domingo) a 6 (sábado)\n    const daysUntilSaturday = (6 - dayOfWeek + 7) % 7 || 7; // Calcula os dias até o próximo sábado\n    const nextSaturday = new Date(today);\n    nextSaturday.setDate(today.getDate() + daysUntilSaturday);\n    \n    return nextSaturday;\n}\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n     item.json.nextSaturday = getNextSaturday().toLocaleDateString('pt-br');\n}\n\nreturn $input.all();"},"id":"ce6c764e-fada-4bf4-abb4-a78bd93b6f1a","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,260]},{"parameters":{"operation":"fromJson","options":{}},"id":"d5cd6fff-876d-4c44-9f31-ce1a36ae177b","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[380,260],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"16096c73-7f0f-40d5-963a-ec4e473d5945","leftValue":"={{ $json.linha }}","rightValue":"","operator":{"type":"number","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"15d02afc-09d1-4af8-8f82-34ae9d0e2363","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,260]},{"parameters":{"assignments":{"assignments":[{"id":"c099b797-1ece-401d-9fd3-149856d81eb9","name":"linha","value":"={{ $json.data[$('Code').item.json.nextSaturday] }}","type":"number"}]},"options":{}},"id":"d87e8f26-47ea-4666-91f5-9dec0b9b9f26","name":"linha","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,260]},{"parameters":{"type":"random"},"id":"88e579a3-bbc7-4a6b-9c9b-8dcca2d95b94","name":"Sort2","type":"n8n-nodes-base.sort","typeVersion":1,"position":[1100,280]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// for (const item of $input.all()) {\nreturn  $('points').all().filter(i=>i.json.linha.id === $('linha').first().json.linha)\n\n\n"},"id":"b4514d13-9aa3-4403-b60e-d90590e7ccee","name":"filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,280],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3d987d50-cce6-4e37-ac4d-7f3933b66763","name":"=d20","value":"={{ Math.floor(Math.random()*20) }}","type":"number"}]},"options":{}},"id":"b656dc89-1a60-4d90-ae5d-6f81bdbc7969","name":"d20","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,20],"executeOnce":true},{"parameters":{"jsCode":"return $('points').all()"},"id":"f6cc25ea-298a-48f4-8767-d2b1348d1204","name":"returnPoints","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,0]},{"parameters":{"content":"# ADICIONAR VALIDAÇãO PARA MAIS DE UMA LINHA AQUI"},"id":"9d06d0b0-1cd6-4564-8874-9f22b9ae11f9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,500]}],"connections":{"auth":{"main":[[{"node":"points","type":"main","index":0}]]},"points":{"main":[[{"node":"d20","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Ponto do dia":{"main":[[{"node":"auth","type":"main","index":0}]]},"If":{"main":[[{"node":"returnPoints","type":"main","index":0}],[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"linha","type":"main","index":0}]]},"If1":{"main":[[{"node":"returnPoints","type":"main","index":0}],[{"node":"filter","type":"main","index":0}]]},"linha":{"main":[[{"node":"If1","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"Limit","type":"main","index":0}]]},"filter":{"main":[[{"node":"Sort2","type":"main","index":0}]]},"d20":{"main":[[{"node":"If","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Code","type":"main","index":0}]]},"returnPoints":{"main":[[{"node":"Sort","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Ponto do dia":{"recurrenceRules":[]},"node:Ponto do dia1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e0994fdc-e0fa-4977-bef5-32584c127500","triggerCount":1,"tags":[]}