files/n8n/Advanced Telegram Bot, Ticketing System, LiveChat, User Management, Broadcasting.json
{"createdAt":"2024-12-11T14:21:11.186Z","updatedAt":"2024-12-11T14:21:11.186Z","id":"bU74pZTbgSUyUOLx","name":"Advanced Telegram Bot, Ticketing System, LiveChat, User Management, Broadcasting","active":false,"nodes":[{"parameters":{"content":"## Use **Config Bot** to setup your telegram details, like:\n1- Telegram Group ID (Don't forget add bot as admin)\n2- Telegram Channel ID (Don't forget add bot as admin)\n3- Your telegram Bot Token. (Generate through @BotFather)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Setup data & filter & route to the correct Side.\n0- None of them - Soon - Wait V2\n1- Chat Type (`Private`)\n2- Chat Type (`Supergroup`)\n3- Chat Type (`Channel`)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Remember:\n* Do not make your support group public. Every message sent in the group on various topics will be forwarded to the user's ticket.\n* There is no need to promote your broadcasting channel; the main reason for the channel is to organize and broadcast messages.\n* You can host a Redis database without any coding/server management skills through Coolify.io.\n* In the next version, I will add the **edit messages** feature, where the forwarded messages will be updated with the new edited one.\n\n## Why use this method?\n* If you deal with Telegram P2P, anyone can delete messages from both sides. If you run a business, then one of your clients may delete all messages, causing you to lose the history. This solution prevents people from deleting messages; every message forwarded into the support group will not be possible to delete by the sender.\n* Team collaboration: Why share one account when you can convert the whole group into a ticketing system? With this project, you can invite all your coworkers to reply and provide support to your clients through Telegram.\n* Integrate with third-party services? Using N8N will pave the way for integrating your Telegram users' data into a CRM. In V2, we will enable the option to force new users to share their leads before receiving support.","height":1416.261500302191,"width":629.040241216464,"color":7},"id":"f1263e64-2c53-4fb9-87ab-a5d542eec50c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.isEmpty() }}","operation":"regex","value2":"true"}]}},"id":"8872e044-7375-4fc1-ad7a-7aeda176912c","name":"New User ?","type":"n8n-nodes-base.if","position":[920,200],"typeVersion":1},{"parameters":{"jsCode":"function escapeRedisJsonSyntax(value) {\n  if (typeof value === 'string') {\n    return value.replace(/[\"\\\\/]/g, '\\\\$&');\n  }\n  return value;\n}\n\nconst outputItems = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const escapedItem = { TG_USER_: {} };\n\n  for (const key in item) {\n    const value = item[key];\n    if (Array.isArray(value)) {\n      escapedItem.TG_USER_[key] = [escapeRedisJsonSyntax(value[0])];\n    } else if (typeof value === 'object') {\n      flattenObject(value, escapedItem.TG_USER_, key);\n    } else {\n      escapedItem.TG_USER_[key] = escapeRedisJsonSyntax(value);\n    }\n  }\n\n  outputItems.push(escapedItem);\n}\n\nfunction flattenObject(obj, result, prefix) {\n  for (const key in obj) {\n    const newKey = prefix ? `${prefix}_${key}` : key;\n    const value = obj[key];\n    if (typeof value === 'object') {\n      if (Array.isArray(value)) {\n        result[newKey] = [escapeRedisJsonSyntax(value[0])];\n      } else {\n        flattenObject(value, result, newKey);\n      }\n    } else {\n      result[newKey.replace('json_message_', '').replace('json_', '')] = escapeRedisJsonSyntax(value);\n    }\n  }\n}\n\nreturn outputItems;\n"},"id":"50ed63d1-7139-4a45-ae16-95f1ed260e57","name":"Format","type":"n8n-nodes-base.code","position":[60,600],"typeVersion":2},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.TG_USER_.removeField('BotToken').removeField('pairedItem_item').removeField('Support_Group_ID') }}","include":"selected","options":{}},"id":"26e1d9b0-32b2-490f-a5a3-81996eb29cde","name":"Bot-Fields","type":"n8n-nodes-base.set","position":[200,600],"typeVersion":3.2},{"parameters":{"url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/createForumTopic?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"]}}&name={{ encodeURIComponent(('['+$('Bot-Fields').item.json.from_first_name +'] - [id:'+ $('Bot-Fields').item.json.chat_id +']'))}}&icon_color=9367192&icon_custom_emoji_id=5417915203100613993","options":{}},"id":"432e1717-2c33-4ee6-8341-23df6d799cb1","name":"Create Topic (Chat Ticket)","type":"n8n-nodes-base.httpRequest","position":[1400,80],"typeVersion":4.1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={\"message_thread_id\":{{ $json.result.message_thread_id }}}","keyType":"hash"},"id":"440a31e2-bac8-46f5-9c74-bcb299feaf6e","name":"Save Topic ID","type":"n8n-nodes-base.redis","position":[1580,80],"typeVersion":1},{"parameters":{"operation":"get","propertyName":"result","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","keyType":"hash","options":{}},"id":"ebd08e9e-3980-47a7-935b-8344a4fcb1f6","name":"Get User Chat Topic","type":"n8n-nodes-base.redis","position":[1520,260],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_thread_id={{ $json[\"result\"][\"message_thread_id\"] }}&from_chat_id={{ $('Bot-Fields').item.json[\"chat_id\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"id":"25ab0da6-dded-4200-870c-40b4972f8309","name":"Forward New Message","type":"n8n-nodes-base.httpRequest","position":[1880,260],"typeVersion":4.1,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error.message }}","operation":"contains","value2":"thread not found"}]}},"id":"cfa83558-7187-454e-be88-e72095282613","name":"IF No Topic Created","type":"n8n-nodes-base.if","position":[1360,660],"typeVersion":1},{"parameters":{"url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/createForumTopic?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"]}}&name={{ encodeURIComponent(('['+$('Bot-Fields').item.json.from_first_name +'] - [id:'+ $('Bot-Fields').item.json.chat_id +']'))}}&icon_color=9367192&icon_custom_emoji_id=5417915203100613993","options":{}},"id":"95b362f5-d077-4c90-bd86-3aa4cb44e340","name":"ReCreate Topic (Chat Ticket)","type":"n8n-nodes-base.httpRequest","position":[1540,560],"typeVersion":4.1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={\"message_thread_id\":{{ $json.result.message_thread_id }}}","keyType":"hash"},"id":"e4574f0f-3742-41bb-9b0f-f408907d5ae4","name":"ReSave Topic ID","type":"n8n-nodes-base.redis","position":[1700,560],"typeVersion":1},{"parameters":{"content":"## Re Create New Topic\n**Sometimes** in support group may the team delete or close a ticket (topic) in case of that this steps will create topic again for the user, and store the new ticket id (topic/thread ID).","height":466.5190319644644,"width":734.3067601294108,"color":3},"id":"be68ecf1-d863-4f7f-a2a5-c5a4c43d3e89","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1340,460],"typeVersion":1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={{ $item(\"0\").$node[\"Bot-Fields\"].json }}","keyType":"hash"},"id":"092f2eb8-9088-451d-a64a-fce3f625f985","name":"Update User Data","type":"n8n-nodes-base.redis","position":[1180,260],"typeVersion":1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={{ $item(\"0\").$node[\"Bot-Fields\"].json }}","keyType":"hash"},"id":"2ecbba45-2633-450d-9161-fc1e47f7219a","name":"Save User Data","type":"n8n-nodes-base.redis","position":[1180,80],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Config').item.json.message.chat.id }}","operation":"regex","value2":"={{ $('Bot-Config').item.json.Support_Group_ID }}"}]}},"id":"676394de-f3c9-41bf-ad01-832ca98a164c","name":"Support Forum","type":"n8n-nodes-base.if","position":[700,580],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Fields').item.json.message_thread_id }}","operation":"isNotEmpty"},{"value1":"={{ $('Bot-Fields').item.json.reply_to_message_is_topic_message }}","operation":"regex","value2":"true"},{"value1":"={{ $('Bot-Fields').item.json.is_topic_message }}","operation":"regex","value2":"true"}]}},"id":"22165bfa-c965-42bd-9550-53648d61eaf0","name":"From Ticket","type":"n8n-nodes-base.if","position":[900,560],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $json[\"reply_to_message_forward_from_id\"] || $('Bot-Fields').item.json.reply_to_message_forum_topic_created_name.match(/\\[id:(\\d+)\\]/)[1] }}&from_chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"id":"9e50fc00-7d5c-48bb-86ba-89c8266801ef","name":"Forward Support Reply To User","type":"n8n-nodes-base.httpRequest","position":[1120,540],"typeVersion":4.1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.forum_topic_created_name.isNotEmpty() }}","operation":"regex","value2":"true"}]}},"id":"05d662e2-3d1e-414f-9f90-882987a1ebaf","name":"IF Topic Created","type":"n8n-nodes-base.if","position":[900,780],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_thread_id={{ $json[\"result\"][\"message_thread_id\"] }}&from_chat_id={{ $('Bot-Fields').item.json[\"chat_id\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"id":"21309897-1cce-4002-a403-b89285606cfd","name":"Forward New Message to the recrated topic","type":"n8n-nodes-base.httpRequest","position":[1860,560],"typeVersion":4.1},{"parameters":{},"id":"0cbfe050-a19b-450c-aab9-d45de71545e7","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[1860,760],"typeVersion":1},{"parameters":{"operation":"keys","keyPattern":"=TG-USER-{{ $json.chat_id }}"},"id":"11850fb2-84b8-47e5-aef4-028df817974c","name":"Check User in Database","type":"n8n-nodes-base.redis","position":[740,200],"notesInFlow":true,"typeVersion":1,"notes":"Search Key"},{"parameters":{"content":"## Support Side\n**This Part** is meant to forward replies that sent by support (members in the group)","height":473,"width":656,"color":5},"id":"d3063af5-b78b-4e41-b7b5-2d817586ec92","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[660,460],"typeVersion":1},{"parameters":{"chatId":"={{ $json.forum_topic_created_name.match(/\\[id:(\\d+)\\]/)[1] }}","text":"A new ticket has been created for you. Please wait while one of our support team members becomes available to reply.","additionalFields":{"appendAttribution":false}},"id":"0cdf4f3c-2fed-4382-95a9-2560233910f8","name":"Send User Ticket Created Notification","type":"n8n-nodes-base.telegram","position":[1100,760],"typeVersion":1.1},{"parameters":{"content":"## User Side\n**This Part** is meant to save user data on a RAM database which is fast, and in same time forward the message to support after creating a new ticket (Topic) dedciated for the user id in the support group.","height":422,"width":1409.9137494026593,"color":3},"id":"d2fc3b24-e9a2-4f58-81ec-a476d8d24c07","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[660,0],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"BotToken","stringValue":"Your Bot Token here (Also add credntinals in Telegram Node)"},{"name":"Support_Group_ID","stringValue":"Your Telegram Group here (Don't forget to give BOT admin privileges)"},{"name":"Boradcast_Channel_ID","stringValue":"Your Telegram Channel here (Don't forget to give BOT admin privileges)"}]},"options":{}},"id":"944d7db3-4f70-4ddf-9a3a-0cfb5bab8b5b","name":"Bot-Config","type":"n8n-nodes-base.set","position":[440,140],"typeVersion":3.2},{"parameters":{"updates":["message","channel_post"],"additionalFields":{}},"id":"01237695-de0f-49ad-8f47-fd005022b6d1","name":"Telegram-Bot","type":"n8n-nodes-base.telegramTrigger","position":[80,140],"webhookId":"d8b773ab-aee9-494b-8749-f0aa80032871","typeVersion":1},{"parameters":{"dataType":"string","value1":"={{ $json.chat_type || $json.channel_post_sender_chat_type }}","rules":{"rules":[{"operation":"regex","value2":"private","output":1},{"operation":"regex","value2":"supergroup","output":2},{"operation":"regex","value2":"channel","output":3}]},"fallbackOutput":0},"id":"9e439b6d-0e47-47e9-9191-03509aa39f35","name":"1st","type":"n8n-nodes-base.switch","position":[340,600],"typeVersion":1},{"parameters":{"batchSize":29,"options":{}},"id":"afe5c3f1-3b5b-4eba-8373-391ba7c957cc","name":"Split In Batches1","type":"n8n-nodes-base.splitInBatches","position":[1480,1120],"notesInFlow":true,"typeVersion":2,"notes":"Telegram Limitation 29/sec"},{"parameters":{"amount":3,"unit":"seconds"},"id":"cd9b58c5-5ede-4372-8fcc-7cd1b6d9c075","name":"Wait1","type":"n8n-nodes-base.wait","position":[1880,1080],"webhookId":"9f87deed-d502-46d3-8c85-ce99552a0441","typeVersion":1},{"parameters":{"jsCode":"let response = items[0].json; // get the Redis response\nlet newItems = []; // to store the new items\n\nfor(let key in response) {\n    if(response.hasOwnProperty(key)) {\n        newItems.push({\n            json: {\n                user: response[key]\n            }\n        });\n    }\n}\n\nreturn newItems;\n"},"id":"47a13404-5ae5-4a0e-90f1-4d9e5aa53d56","name":"Format Users","type":"n8n-nodes-base.code","position":[1120,1120],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/copyMessage?chat_id={{ $('Split In Batches1').item.json[\"user\"][\"chat_id\"] }}&from_chat_id={{ $('Bot-Config').item.json[\"Boradcast_Channel_ID\"] }}&message_id={{ $('Bot-Config').item.json[\"channel_post\"][\"message_id\"] }}","options":{}},"id":"12814473-9003-49d1-85d1-5c2e98845f9f","name":"Broadcast Channel Post into Users","type":"n8n-nodes-base.httpRequest","position":[1700,1100],"typeVersion":4.1,"onError":"continueErrorOutput"},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id || $('Split In Batches1').item.json.user.chat_id }}","value":"={\"Blocked\":{{ '1' }}}","keyType":"hash"},"id":"8bf71fad-6678-4f9c-be0c-2486c40c66a7","name":"Set Blocked Member","type":"n8n-nodes-base.redis","position":[1880,1240],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Config').item.json.channel_post.sender_chat.id }}","operation":"regex","value2":"={{ $('Bot-Config').item.json.Boradcast_Channel_ID }}"}]}},"id":"d2d168b3-d268-42d2-be3d-abebdd474e84","name":"IF Verified Channel","type":"n8n-nodes-base.if","position":[760,1140],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.user.Blocked }}","operation":"notRegex","value2":"1"}]}},"id":"7700ee91-5e3d-412c-b998-0bd7d988ba08","name":"Filter Blocked Users","type":"n8n-nodes-base.filter","position":[1300,1120],"typeVersion":1},{"parameters":{"content":"## Channel Side (Broadcasting)\n**This Part** where the support of brand broadcasting message to all previous users who used this bot before.","height":460.58353708231465,"width":1413.320293398532,"color":6},"id":"88211049-b383-40c0-83a2-b33b301d4f8f","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[660,960],"typeVersion":1},{"parameters":{"operation":"keys","keyPattern":"=TG-USER-*"},"id":"1a049fcf-190c-412c-9478-cb49aa5d11a9","name":"Retrieve all users in DB","type":"n8n-nodes-base.redis","position":[940,1120],"notesInFlow":true,"typeVersion":1,"notes":"Search Key"}],"connections":{"1st":{"main":[[],[{"node":"Check User in Database","type":"main","index":0}],[{"node":"Support Forum","type":"main","index":0}],[{"node":"IF Verified Channel","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Format":{"main":[[{"node":"Bot-Fields","type":"main","index":0}]]},"Bot-Config":{"main":[[{"node":"Format","type":"main","index":0}]]},"Bot-Fields":{"main":[[{"node":"1st","type":"main","index":0}]]},"New User ?":{"main":[[{"node":"Save User Data","type":"main","index":0}],[{"node":"Update User Data","type":"main","index":0}]]},"From Ticket":{"main":[[{"node":"Forward Support Reply To User","type":"main","index":0}],[{"node":"IF Topic Created","type":"main","index":0}]]},"Format Users":{"main":[[{"node":"Filter Blocked Users","type":"main","index":0}]]},"Telegram-Bot":{"main":[[{"node":"Bot-Config","type":"main","index":0}]]},"Save Topic ID":{"main":[[{"node":"Forward New Message","type":"main","index":0}]]},"Support Forum":{"main":[[{"node":"From Ticket","type":"main","index":0}]]},"Save User Data":{"main":[[{"node":"Create Topic (Chat Ticket)","type":"main","index":0}]]},"ReSave Topic ID":{"main":[[{"node":"Forward New Message to the recrated topic","type":"main","index":0}]]},"IF Topic Created":{"main":[[{"node":"Send User Ticket Created Notification","type":"main","index":0}]]},"Update User Data":{"main":[[{"node":"Get User Chat Topic","type":"main","index":0}]]},"Split In Batches1":{"main":[[{"node":"Broadcast Channel Post into Users","type":"main","index":0}]]},"Set Blocked Member":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Forward New Message":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"IF No Topic Created","type":"main","index":0}]]},"Get User Chat Topic":{"main":[[{"node":"Forward New Message","type":"main","index":0}]]},"IF No Topic Created":{"main":[[{"node":"ReCreate Topic (Chat Ticket)","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"IF Verified Channel":{"main":[[{"node":"Retrieve all users in DB","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Filter Blocked Users":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Check User in Database":{"main":[[{"node":"New User ?","type":"main","index":0}]]},"Retrieve all users in DB":{"main":[[{"node":"Format Users","type":"main","index":0}]]},"Create Topic (Chat Ticket)":{"main":[[{"node":"Save Topic ID","type":"main","index":0}]]},"ReCreate Topic (Chat Ticket)":{"main":[[{"node":"ReSave Topic ID","type":"main","index":0}]]},"Forward Support Reply To User":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Broadcast Channel Post into Users":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Set Blocked Member","type":"main","index":0}]]},"Send User Ticket Created Notification":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Forward New Message to the recrated topic":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ecffc72e-f6b1-487c-9edc-d21643f3dcb8","triggerCount":0,"shared":[{"createdAt":"2024-12-11T14:21:11.220Z","updatedAt":"2024-12-11T14:21:11.220Z","role":"workflow:owner","workflowId":"bU74pZTbgSUyUOLx","projectId":"gMJuDzn3AudtUYlf","project":{"createdAt":"2024-12-11T00:44:53.743Z","updatedAt":"2024-12-11T13:46:47.490Z","id":"gMJuDzn3AudtUYlf","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-12-11T00:44:54.251Z","updatedAt":"2024-12-11T00:44:54.251Z","role":"project:personalOwner","userId":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","projectId":"gMJuDzn3AudtUYlf","user":{"createdAt":"2024-12-11T00:33:52.347Z","updatedAt":"2024-12-11T14:10:16.069Z","id":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-12-11T13:47:09.945Z","personalization_survey_n8n_version":"1.70.4","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":false,"isOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}