files/n8n/Azure Devops.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-11T13:52:25.660Z",
  "id": "lrr2dtkUALYU25Le",
  "meta": null,
  "name": "Azure Devops",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"project\": \"{{ $('Webhook').item.json.query.project }}\",\n  \"url\": \"{{ $('Webhook').item.json.query.url }}\"\n}",
        "options": {}
      },
      "id": "ff6a982c-89a5-4605-b1a4-28b2c45f824c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "path": "devops/pipeline",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "96c8198d-0022-4364-b925-2bbe9ccaa602",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "c92f5345-543c-46ff-9a79-b3419f3888f1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "LfPer9NpcQ1gQp7E",
          "name": "Azure Devops Headers"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=**ATUALIZAÇÔES**\nBuild do {{ $json.query.project }} executada com sucesso. [Clique para ver mais]({{ $json.query.url }})",
        "options": {
          "avatar_url": "https://png.pngtree.com/png-vector/20240607/ourmid/pngtree-thinking-robot-png-image_12619398.png"
        }
      },
      "id": "8c9bc5c8-eac1-4882-8602-f4a2541563e3",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        300,
        160
      ],
      "webhookId": "85372cd1-996e-4fba-b600-b8b22db1e48f",
      "credentials": {
        "discordWebhookApi": {
          "id": "46Pff7zsNdKnnGOl",
          "name": "Koda Notifications"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -100,
        280
      ],
      "id": "1a91a532-9665-4388-b0a0-750dd5496e3e",
      "name": "Microsoft Teams",
      "webhookId": "cd2085c6-289a-4997-90bb-f7ec9262da91",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "exchange",
        "exchange": "Notifications",
        "exchangeType": "direct",
        "routingKey": "notification",
        "sendInputData": false,
        "message": "={\n    \"type\": \"action\",\n    \"title\": \"Notificacao de pipeline\",\n    \"description\": \"\",\n    \"actions\": [\n        {\n            \"name\": \"warning\",\n            \"action\": \"Show-Notification -ToastTitle 'Um pipeline Terminou' -ToastText 'O pipeline {{ $json.query.project }} terminou' -IconUri 'https://static-00.iconduck.com/assets.00/azure-devops-color-icon-2048x2048-140zbjrd.png'\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        300,
        360
      ],
      "id": "ec7f956e-68a5-435e-8227-e42e233a9635",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "YKPa7yJaTY8ppSj1",
          "name": "RabbitMQ N8N Account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "shares",
  "repo_owner": "rodcordeiro",
  "repo_path": "files/n8n",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-27T13:15:09.000Z",
  "versionId": "109151a5-27c7-4524-b46f-9cd578e5c28f"
}