files/n8n/Banky.json
{"createdAt":"2024-12-11T14:14:22.860Z","updatedAt":"2024-12-11T14:16:36.000Z","id":"hkOsoO3ZnZvJXSI5","name":"Banky","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"9f9baeca-26f8-4a3f-b4d1-382d83458014","name":"Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"authentication":"webhook","content":"={{ $('pendente_categorizacao_total').item.json.total }} items a categorizar","options":{}},"id":"af463846-ce52-4f6c-a6ef-3f66da5a5087","name":"Daily Uncategorized Msgs","type":"n8n-nodes-base.discord","typeVersion":2,"position":[420,0],"credentials":{"discordWebhookApi":{"id":"HTMLJDOd7rFJsX9c","name":"Darth Fin"}}},{"parameters":{"options":{}},"id":"545f0d23-da32-4e18-a7ca-6a0d5cfd7783","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[0,520],"disabled":true},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"id":"c6fab80a-699e-4516-b506-e39728d49e11","name":"Weekly","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,200]},{"parameters":{"operation":"executeQuery","query":"SELECT count(a.id) as total, b.positive\n  FROM bk_tb_transactions a \n  join bk_tb_categories b on a.category = b.id \n WHERE a.category in (\n  'da842e12-9627-4636-85e9-b833bb9adf93',\n  'b5c6184e-7e7a-44bf-a60d-919fb1be1ed0'\n )","options":{}},"id":"f9e25a08-e290-4d5c-9bc0-b586dce257ba","name":"pendente_categorizacao_total","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[220,0],"alwaysOutputData":false,"credentials":{"mySql":{"id":"dLsnY9xeanRdLjzD","name":"Rod"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  count(a.id) as weekly_total_transactions,\n  sum(case when b.positive then a.value else a.value * -1 end) as value\nFROM\n  bk_tb_transactions a\n  join bk_tb_categories b on a.category = b.id\nWHERE\n  a.date > CURRENT_DATE - 7","options":{}},"id":"a02189d1-0ff7-4cb2-b167-72f3e143b576","name":"total_transacoes_semana","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[200,420],"alwaysOutputData":true,"credentials":{"mySql":{"id":"dLsnY9xeanRdLjzD","name":"Rod"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[400,200],"id":"132a1051-b691-4fe3-b085-d9246500b78a","name":"Merge","executeOnce":true},{"parameters":{"operation":"executeQuery","query":"SELECT\n  count(a.id) as total_transactions,\n  sum(case when b.positive then 1 else 0 end) as positive,\n  sum(case when b.positive then 0 else 1 end) as negative\nFROM\n  bk_tb_transactions a\n  join bk_tb_categories b on a.category = b.id\nWHERE\n  a.category in (\n    'da842e12-9627-4636-85e9-b833bb9adf93',\n    'b5c6184e-7e7a-44bf-a60d-919fb1be1ed0'\n  )\n","options":{}},"id":"da674a99-4984-4520-bf46-4e3dc0f9a928","name":"pendente_categorizacao_semanal","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[200,200],"alwaysOutputData":true,"credentials":{"mySql":{"id":"dLsnY9xeanRdLjzD","name":"Rod"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=# Atualizações banky:\n\n#{{ $json.total_transactions }} transações pendente de categorização, sendo #{{ $json.positive }} de receitas e #{{ $json.negative }} de despesas.\n\n#{{ $json.weekly_total_transactions }} Transações anotadas na semana, movimentando um total de R$ {{ $json.value }}.\n\nTenha um bom dia!"}]}},"id":"e84202cc-5fc5-459f-b2fa-4b9b02d4b821","name":"Weekly message","type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,200],"executeOnce":true,"credentials":{"discordWebhookApi":{"id":"HTMLJDOd7rFJsX9c","name":"Darth Fin"}}}],"connections":{"Daily":{"main":[[{"node":"pendente_categorizacao_total","type":"main","index":0}]]},"Weekly":{"main":[[{"node":"pendente_categorizacao_semanal","type":"main","index":0},{"node":"total_transacoes_semana","type":"main","index":0}]]},"pendente_categorizacao_total":{"main":[[{"node":"Daily Uncategorized Msgs","type":"main","index":0}]]},"total_transacoes_semana":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Weekly message","type":"main","index":0}]]},"pendente_categorizacao_semanal":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Daily":{"recurrenceRules":[]},"node:Weekly":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"cefd3ce9-834d-4399-b38f-cf9cbd32e31c","triggerCount":2,"shared":[{"createdAt":"2024-12-11T14:14:22.909Z","updatedAt":"2024-12-11T14:14:22.909Z","role":"workflow:owner","workflowId":"hkOsoO3ZnZvJXSI5","projectId":"gMJuDzn3AudtUYlf","project":{"createdAt":"2024-12-11T00:44:53.743Z","updatedAt":"2024-12-11T13:46:47.490Z","id":"gMJuDzn3AudtUYlf","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-12-11T00:44:54.251Z","updatedAt":"2024-12-11T00:44:54.251Z","role":"project:personalOwner","userId":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","projectId":"gMJuDzn3AudtUYlf","user":{"createdAt":"2024-12-11T00:33:52.347Z","updatedAt":"2024-12-11T14:10:16.069Z","id":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-12-11T13:47:09.945Z","personalization_survey_n8n_version":"1.70.4","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":false,"isOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}