files/n8n/Banky.json
{
  "active": true,
  "connections": {
    "Daily": {
      "main": [
        [
          {
            "node": "pendente_categorizacao_total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly": {
      "main": [
        [
          {
            "node": "pendente_categorizacao_semanal",
            "type": "main",
            "index": 0
          },
          {
            "node": "total_transacoes_semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pendente_categorizacao_total": {
      "main": [
        [
          {
            "node": "Daily Uncategorized Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "total_transacoes_semana": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Weekly message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pendente_categorizacao_semanal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-11T14:14:22.860Z",
  "id": "hkOsoO3ZnZvJXSI5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Banky",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "9f9baeca-26f8-4a3f-b4d1-382d83458014",
      "name": "Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $('pendente_categorizacao_total').item.json.total }} items a categorizar",
        "options": {}
      },
      "id": "af463846-ce52-4f6c-a6ef-3f66da5a5087",
      "name": "Daily Uncategorized Msgs",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        420,
        0
      ],
      "webhookId": "1b4c7480-53f4-4c72-b38f-4c259d956145",
      "credentials": {
        "discordWebhookApi": {
          "id": "HTMLJDOd7rFJsX9c",
          "name": "Darth Fin"
        }
      }
    },
    {
      "parameters": {
        "queue": "banky",
        "options": {}
      },
      "id": "545f0d23-da32-4e18-a7ca-6a0d5cfd7783",
      "name": "RabbitMQ Trigger",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        560
      ],
      "credentials": {
        "rabbitmq": {
          "id": "YKPa7yJaTY8ppSj1",
          "name": "RabbitMQ N8N Account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "c6fab80a-699e-4516-b506-e39728d49e11",
      "name": "Weekly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  count(a.id) as total,\n  b.positive\nFROM\n  bk_tb_transactions a\n  join bk_tb_categories b on a.category = b.id\nWHERE\n  a.category in (\n    select\n      c.value\n    from\n      bk_tb_parameter_values c\n      join bk_tb_parameters d on c.parameter = d.id\n    where\n      d.key in (\n        'unknown_negative_category',\n        'unknown_positive_category'\n      )\n  )",
        "options": {}
      },
      "id": "f9e25a08-e290-4d5c-9bc0-b586dce257ba",
      "name": "pendente_categorizacao_total",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        0
      ],
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "dLsnY9xeanRdLjzD",
          "name": "Rod"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  count(a.id) as weekly_total_transactions,\n  sum(case when b.positive then a.value else a.value * -1 end) as value\nFROM\n  bk_tb_transactions a\n  join bk_tb_categories b on a.category = b.id\nWHERE\n  a.date > CURRENT_DATE - 7",
        "options": {}
      },
      "id": "a02189d1-0ff7-4cb2-b167-72f3e143b576",
      "name": "total_transacoes_semana",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        200,
        420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "dLsnY9xeanRdLjzD",
          "name": "Rod"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        440,
        220
      ],
      "id": "132a1051-b691-4fe3-b085-d9246500b78a",
      "name": "Merge",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  count(a.id) as total_transactions,\n  sum(case when b.positive then 1 else 0 end) as positive,\n  sum(case when b.positive then 0 else 1 end) as negative\nFROM\n  bk_tb_transactions a\n  join bk_tb_categories b on a.category = b.id\nWHERE\n  a.category in (\n    select\n      c.value\n    from\n      bk_tb_parameter_values c\n      join bk_tb_parameters d on c.parameter = d.id\n    where\n      d.key in (\n        'unknown_negative_category',\n        'unknown_positive_category'\n      )\n  )\n",
        "options": {}
      },
      "id": "da674a99-4984-4520-bf46-4e3dc0f9a928",
      "name": "pendente_categorizacao_semanal",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        200,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "dLsnY9xeanRdLjzD",
          "name": "Rod"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "=# Atualizações banky:\n\n#{{ $json.total_transactions }} transações pendente de categorização, sendo #{{ $json.positive }} de receitas e #{{ $json.negative }} de despesas.\n\n#{{ $json.weekly_total_transactions }} Transações anotadas na semana, movimentando um total de R$ {{ $json.value }}.\n\nTenha um bom dia!"
            }
          ]
        }
      },
      "id": "e84202cc-5fc5-459f-b2fa-4b9b02d4b821",
      "name": "Weekly message",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        600,
        220
      ],
      "executeOnce": true,
      "webhookId": "0c2bc1fd-7b5e-404d-8203-0da809a82d80",
      "credentials": {
        "discordWebhookApi": {
          "id": "HTMLJDOd7rFJsX9c",
          "name": "Darth Fin"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "shares",
  "repo_owner": "rodcordeiro",
  "repo_path": "files/n8n",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Daily": {
      "recurrenceRules": []
    },
    "node:Weekly": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-04-16T20:06:25.000Z",
  "versionId": "07b3a173-3666-4d1b-8e30-af8548bdd44e"
}