files/n8n/Bkp.json
{"createdAt":"2024-12-11T13:58:38.777Z","updatedAt":"2024-12-11T14:23:42.000Z","id":"RLM6uB1hrWmkDQqe","name":"Bkp","active":true,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":23,"minute":59}]}},"name":"Daily at 23:59","type":"n8n-nodes-base.cron","position":[-440,480],"typeVersion":1,"id":"96b865d6-6673-4ab4-982a-6dcf96e1fb34"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{}},"id":"16a8651d-3e4a-43f8-a576-aefefac3f8f3","name":"Grafana","type":"n8n-nodes-base.grafana","typeVersion":1,"position":[0,480],"credentials":{"grafanaApi":{"id":"dOXUc24krD8kEvvt","name":"Grafana n8n"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"Shares","mode":"name"},"filePath":"/files/grafana","asBinaryProperty":false,"additionalParameters":{}},"name":"Get dashs","type":"n8n-nodes-base.github","position":[0,700],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"8d2d5cb3-0b73-49c7-9932-e91c21dee748","credentials":{"githubApi":{"id":"V3AmMUZRRtrRloDu","name":"GitHub rodcordeiro"}}},{"parameters":{"mode":"mergeByKey","propertyName1":"uid","propertyName2":"uid"},"name":"Merge3","type":"n8n-nodes-base.merge","position":[760,680],"typeVersion":1,"id":"8d727875-730c-4955-b7b2-d0a5b9907345"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":"name"},"repository":{"__rl":true,"value":"shares","mode":"name"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"dbbb6246-4b6a-4968-a0eb-383dab0090e6","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[180,700],"credentials":{"githubApi":{"id":"V3AmMUZRRtrRloDu","name":"GitHub rodcordeiro"}}},{"parameters":{"functionCode":"return items\n  .map(item => {\n  return {json:{...item,uid:item.json.name.replace('.json','')}}\n});\n"},"name":"TransformGrafanaGithub","type":"n8n-nodes-base.function","position":[360,700],"typeVersion":1,"id":"409f506e-06f8-4a73-b184-76b26ed521ae"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"uid","propertyName2":"uid"},"name":"Merge2","type":"n8n-nodes-base.merge","position":[760,500],"typeVersion":1,"id":"3a5c570a-2ac0-4e8e-990e-d1f7cf8d5135"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/grafana/{{ $json.dashboard.title}}.json","fileContent":"={{JSON.stringify($json)}}","commitMessage":"=[Grafana Backup] {{ $json.dashboard.title }} created ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file1","type":"n8n-nodes-base.github","position":[1160,500],"typeVersion":1,"id":"2dc4f11c-d89a-4dfe-9a60-4ff3550c5d2c","credentials":{"githubApi":{"id":"V3AmMUZRRtrRloDu","name":"GitHub rodcordeiro"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/grafana/{{$json.dashboard.uid}}.json","fileContent":"={{ JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{$json.dashboard.title}} ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit1","type":"n8n-nodes-base.github","position":[1160,680],"typeVersion":1,"id":"1c90b7d7-7520-420e-a28b-dcf6fea74fdd","credentials":{"githubApi":{"id":"V3AmMUZRRtrRloDu","name":"GitHub rodcordeiro"}}},{"parameters":{"operation":"get","dashboardUidOrUrl":"={{ $json.uid }}"},"id":"d1c15820-d577-444d-8fa5-9db610988797","name":"getDash","type":"n8n-nodes-base.grafana","typeVersion":1,"position":[980,500],"credentials":{"grafanaApi":{"id":"dOXUc24krD8kEvvt","name":"Grafana n8n"}}},{"parameters":{"operation":"get","dashboardUidOrUrl":"={{ $json.uid }}"},"id":"530a8682-8f1c-4227-97b5-851d452ca869","name":"getDash1","type":"n8n-nodes-base.grafana","typeVersion":1,"position":[980,680],"credentials":{"grafanaApi":{"id":"dOXUc24krD8kEvvt","name":"Grafana n8n"}}},{"parameters":{"mode":"keepKeyMatches","propertyName1":"id","propertyName2":"id"},"name":"Merge","type":"n8n-nodes-base.merge","position":[760,200],"typeVersion":1,"id":"ab760d51-c6c7-494f-9dc4-6b287dcb278e"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":"name"},"repository":{"__rl":true,"value":"shares","mode":"name"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"fb5fd07d-d014-4eb9-9e76-71612f690683","name":"GitHub1","type":"n8n-nodes-base.github","typeVersion":1,"position":[180,220],"credentials":{"githubApi":{"id":"V3AmMUZRRtrRloDu","name":"GitHub rodcordeiro"}}},{"parameters":{"mode":"removeKeyMatches","propertyName1":"id","propertyName2":"id"},"name":"Merge4","type":"n8n-nodes-base.merge","position":[760,20],"typeVersion":1,"id":"5ec3e1f7-460f-4977-8a47-20c296c4764b"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/n8n/{{ $json.name}}.json","fileContent":"={{JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{ $json.name}} workflow created ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file","type":"n8n-nodes-base.github","position":[1160,20],"typeVersion":1,"id":"f1efc8c5-505e-46d1-ba09-ade50d5d01d6","credentials":{"githubApi":{"id":"V3AmMUZRRtrRloDu","name":"GitHub rodcordeiro"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/n8n/{{$json.id}}.json","fileContent":"={{ JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{$json.name}} workflow updated ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[1160,200],"typeVersion":1,"id":"aa94c35b-9119-4bca-97d9-207a7fa17d12","credentials":{"githubApi":{"id":"V3AmMUZRRtrRloDu","name":"GitHub rodcordeiro"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"Shares","mode":"name"},"filePath":"/files/n8n","asBinaryProperty":false,"additionalParameters":{}},"name":"Get workflows","type":"n8n-nodes-base.github","position":[0,220],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"9e4da80a-c0b9-4574-aa8c-dff1cc89de75","credentials":{"githubApi":{"id":"V3AmMUZRRtrRloDu","name":"GitHub rodcordeiro"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"7eb3889f-0fb1-4698-a71f-8c85af0b8132","name":"workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[0,0],"credentials":{"n8nApi":{"id":"KJSuVqydkfLtpdc2","name":"N8N"}}},{"parameters":{"functionCode":"return items\n  .map(item => {\n  return {json:{...item,\n                id:item.json.name.replace('.json','')}}\n});\n"},"name":"TransformN8nGithub","type":"n8n-nodes-base.function","position":[360,220],"typeVersion":1,"id":"5420d04d-e4a8-4e6b-85fd-4e56d3492eae"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"id":"a43ff886-75ae-4bd8-b4be-fd0943b4e2df","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[980,20],"credentials":{"n8nApi":{"id":"KJSuVqydkfLtpdc2","name":"N8N"}}},{"parameters":{"authentication":"webhook","content":"={{ $json.commit.message }}","options":{}},"id":"98798534-98d9-4237-a4de-25f929f84303","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[1380,20],"credentials":{"discordWebhookApi":{"id":"RiA5jqb4WiIcmb6i","name":"Dath Testes"}}},{"parameters":{"authentication":"webhook","content":"={{ $json.commit.message }}","options":{}},"id":"eaa9e61c-af35-424c-b34a-b16372d93971","name":"Discord1","type":"n8n-nodes-base.discord","typeVersion":2,"position":[1340,500],"credentials":{"discordWebhookApi":{"id":"RiA5jqb4WiIcmb6i","name":"Dath Testes"}}}],"connections":{"Daily at 23:59":{"main":[[{"node":"Grafana","type":"main","index":0},{"node":"workflows","type":"main","index":0},{"node":"Get workflows","type":"main","index":0},{"node":"Get dashs","type":"main","index":0}]]},"Get dashs":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Grafana":{"main":[[{"node":"Merge3","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"TransformGrafanaGithub","type":"main","index":0}]]},"TransformGrafanaGithub":{"main":[[{"node":"Merge3","type":"main","index":1},{"node":"Merge2","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"getDash1","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"getDash","type":"main","index":0}]]},"getDash":{"main":[[{"node":"Create file1","type":"main","index":0}]]},"getDash1":{"main":[[{"node":"GitHub Edit1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"TransformN8nGithub","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Get workflows":{"main":[[{"node":"GitHub1","type":"main","index":0}]]},"workflows":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge4","type":"main","index":0}]]},"TransformN8nGithub":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge4","type":"main","index":1}]]},"n8n":{"main":[[{"node":"Create file","type":"main","index":0}]]},"Create file":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Create file1":{"main":[[{"node":"Discord1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7af8a34b-e505-40d7-9079-3428d7d0b12f","triggerCount":1,"shared":[{"createdAt":"2024-12-11T13:58:38.782Z","updatedAt":"2024-12-11T13:58:38.782Z","role":"workflow:owner","workflowId":"RLM6uB1hrWmkDQqe","projectId":"gMJuDzn3AudtUYlf","project":{"createdAt":"2024-12-11T00:44:53.743Z","updatedAt":"2024-12-11T13:46:47.490Z","id":"gMJuDzn3AudtUYlf","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-12-11T00:44:54.251Z","updatedAt":"2024-12-11T00:44:54.251Z","role":"project:personalOwner","userId":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","projectId":"gMJuDzn3AudtUYlf","user":{"createdAt":"2024-12-11T00:33:52.347Z","updatedAt":"2024-12-11T14:10:16.069Z","id":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-12-11T13:47:09.945Z","personalization_survey_n8n_version":"1.70.4","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":false,"isOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}