files/n8n/Bookshelf.json
{
  "active": true,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Update the book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the book": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-19T15:14:31.340Z",
  "id": "ZjpdyVsnBkc3Ebxi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bookshelf",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Books update",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Books",
              "fieldType": "file",
              "acceptFileTypes": ".xlsx,.xlsm",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "bookshelf"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1220,
        -300
      ],
      "id": "b9dfd0c8-1822-49e5-9504-b8ee8e3b2a36",
      "name": "On form submission",
      "webhookId": "532d1591-af21-4744-ac7c-25ac081dd9e6"
    },
    {
      "parameters": {
        "operation": "xls",
        "binaryPropertyName": "Books",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1000,
        -300
      ],
      "id": "406f5454-c84d-47a2-b52c-e44005f40862",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "\nfunction replaceSpaces(input) {\n  let updatedRow = {};\n  for (const key in input) {\n    if (key !== \"Read\" && key !== \"Flashcards\")\n      updatedRow[key.replace(/\\ /gi, \"_\").toLowerCase()] = input[key];\n  }\n  return updatedRow;\n}\nfor (const item of $input.all()) {\n  item.json = replaceSpaces(item.json);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        -300
      ],
      "id": "37d80224-e6fe-4586-b501-d2b1a1ef6ca4",
      "name": "Code1"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "book_id",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -560,
        -300
      ],
      "id": "b38d8fee-f7e1-4a0e-842e-cc1eb8338a16",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "mode": "exchange",
        "exchange": "Notifications",
        "exchangeType": "direct",
        "routingKey": "notification",
        "sendInputData": false,
        "message": "=\n{\n    \"type\": \"action\",\n    \"title\": \"Bookshelf updated\",\n    \"description\": \"Acabamos a atualização do bookshelf, com um total de {{ $('Remove Duplicates1').all().length }} livros.\",\n    \"actions\": [\n        {\n            \"name\": \"Greeting\",\n            \"action\": \"Show-Notification -ToastTitle 'Bookshelf' -ToastText 'Acabamos a atualização do bookshelf, com um total de {{ $('Remove Duplicates1').all().length }} livros' -IconUri 'https://rodcordeiro.github.io/shares/img/Closed_Book_Icon.svg' \"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        -120,
        -300
      ],
      "id": "530ef695-ef06-48ab-8812-726024a49a99",
      "name": "RabbitMQ",
      "executeOnce": true,
      "credentials": {
        "rabbitmq": {
          "id": "YKPa7yJaTY8ppSj1",
          "name": "RabbitMQ N8N Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "Books",
          "mode": "list",
          "cachedResultName": "Books"
        },
        "columnToMatchOn": "book_id",
        "options": {
          "queryBatching": "independently",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -340,
        -300
      ],
      "id": "d8121a36-b28d-4c00-a467-fad4cea1bfe9",
      "name": "Update the book",
      "credentials": {
        "mySql": {
          "id": "dLsnY9xeanRdLjzD",
          "name": "Rod"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "shares",
  "repo_owner": "rodcordeiro",
  "repo_path": "files/n8n",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-24T19:00:58.000Z",
  "versionId": "f77d7b36-1a78-407d-9b55-d6f73871bdc2"
}