files/n8n/Docker CI.json
{"createdAt":"2024-12-11T14:08:09.730Z","updatedAt":"2024-12-11T14:10:05.000Z","id":"AGyGcS984LrwPkJd","name":"Docker CI","active":false,"nodes":[{"parameters":{"authentication":"privateKey","command":"docker ps --format \"{{.Names}}|{{.Image}}\"","cwd":"/home/rodcordeiro"},"id":"5427a711-fe21-4af8-a768-239b46979304","name":"SSH","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-360,120],"credentials":{"sshPrivateKey":{"id":"o8p9CTME5kONjFn5","name":"SSH Password account"}}},{"parameters":{"authentication":"webhook","content":"={{ $('Docker Image published').item.json.repository.repo_name }} atualizado!","options":{}},"id":"b630a468-b61c-482c-92a1-0c4c6a5a7616","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[-200,120],"credentials":{"discordWebhookApi":{"id":"46Pff7zsNdKnnGOl","name":"Koda Notifications"}}},{"parameters":{"content":"Exemplo payload webhook docker\n```\n{\n  \"callback_url\": \"https://registry.hub.docker.com/u/svendowideit/testhook/hook/2141b5bi5i5b02bec211i4eeih0242eg11000a/\",\n  \"push_data\": {\n    \"pushed_at\": 1417566161,\n    \"pusher\": \"trustedbuilder\",\n    \"tag\": \"latest\"\n  },\n  \"repository\": {\n    \"comment_count\": 0,\n    \"date_created\": 1417494799,\n    \"description\": \"\",\n    \"dockerfile\": \"#\\n# BUILD\\u0009\\u0009docker build -t svendowideit/apt-cacher .\\n# RUN\\u0009\\u0009docker run -d -p 3142:3142 -name apt-cacher-run apt-cacher\\n#\\n# and then you can run containers with:\\n# \\u0009\\u0009docker run -t -i -rm -e http_proxy http://192.168.1.2:3142/ debian bash\\n#\\nFROM\\u0009\\u0009ubuntu\\n\\n\\nVOLUME\\u0009\\u0009[/var/cache/apt-cacher-ng]\\nRUN\\u0009\\u0009apt-get update ; apt-get install -yq apt-cacher-ng\\n\\nEXPOSE \\u0009\\u00093142\\nCMD\\u0009\\u0009chmod 777 /var/cache/apt-cacher-ng ; /etc/init.d/apt-cacher-ng start ; tail -f /var/log/apt-cacher-ng/*\\n\",\n    \"full_description\": \"Docker Hub based automated build from a GitHub repo\",\n    \"is_official\": false,\n    \"is_private\": true,\n    \"is_trusted\": true,\n    \"name\": \"testhook\",\n    \"namespace\": \"svendowideit\",\n    \"owner\": \"svendowideit\",\n    \"repo_name\": \"svendowideit/testhook\",\n    \"repo_url\": \"https://registry.hub.docker.com/u/svendowideit/testhook/\",\n    \"star_count\": 0,\n    \"status\": \"Active\"\n  }\n}\n```","height":514,"width":422,"color":7},"id":"e73dfc80-ebb8-4d9d-ad69-fb481823103e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"httpMethod":"POST","path":"657998bf-e6ad-445d-9ccd-132772f691d7","responseMode":"lastNode","responseData":"allEntries","options":{}},"id":"e0c404ca-75b7-43b7-b9e2-d2326ca203ef","name":"Docker Image published","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-540,120],"webhookId":"657998bf-e6ad-445d-9ccd-132772f691d7"}],"connections":{"SSH":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Docker Image published":{"main":[[{"node":"SSH","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0d8bf2fa-ed1e-471c-bd22-e413b43c8627","triggerCount":0,"shared":[{"createdAt":"2024-12-11T14:08:09.737Z","updatedAt":"2024-12-11T14:08:09.737Z","role":"workflow:owner","workflowId":"AGyGcS984LrwPkJd","projectId":"gMJuDzn3AudtUYlf","project":{"createdAt":"2024-12-11T00:44:53.743Z","updatedAt":"2024-12-11T13:46:47.490Z","id":"gMJuDzn3AudtUYlf","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-12-11T00:44:54.251Z","updatedAt":"2024-12-11T00:44:54.251Z","role":"project:personalOwner","userId":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","projectId":"gMJuDzn3AudtUYlf","user":{"createdAt":"2024-12-11T00:33:52.347Z","updatedAt":"2024-12-11T14:10:16.069Z","id":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-12-11T13:47:09.945Z","personalization_survey_n8n_version":"1.70.4","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":false,"isOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}