files/n8n/G2GJPkYddLO4S7xx.json
{"createdAt":"2024-11-28T14:33:20.529Z","updatedAt":"2024-12-02T19:42:30.000Z","id":"G2GJPkYddLO4S7xx","name":"Post automation","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"1d80d3ac-8f66-458d-af16-b42057c25312","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-480,220],"typeVersion":1.2},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"mode":"url","value":"={{ $json.url }}"},"returnAll":true},"id":"15dd2244-7b2f-4c56-85da-533f8ab78d07","name":"Fetch the content on the page","type":"n8n-nodes-base.notion","position":[160,420],"typeVersion":2.2,"credentials":{"notionApi":{"id":"MIYkEsu17Ezd5Xxa","name":"Notion Rod"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"14c58d4e-bf0f-80a5-826e-c6de0241815a","mode":"list","cachedResultName":"posts","cachedResultUrl":"https://www.notion.so/14c58d4ebf0f80a5826ec6de0241815a"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"published|status","condition":"equals","statusValue":"Ready"}]},"options":{"sort":{"sortValue":[{"key":"ID|unique_id","direction":"ascending"}]}}},"id":"c42cc5e3-7db9-43e7-b613-fabe1810d665","name":"GetReadyPosts","type":"n8n-nodes-base.notion","position":[-280,220],"typeVersion":2.2,"credentials":{"notionApi":{"id":"MIYkEsu17Ezd5Xxa","name":"Notion Rod"}}},{"parameters":{"content":"## Process and format the post","height":480,"width":827,"color":6},"id":"ce2ec2c6-8d2f-4669-88ab-eba3dafb1005","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[340,200],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content"},{"fieldToAggregate":"image.file.url"},{"fieldToAggregate":"type"}]},"options":{}},"id":"e90ddcb4-3252-4f75-b376-0fbe8df9a4b0","name":"Aggregate the Notion blocks","type":"n8n-nodes-base.aggregate","position":[440,420],"typeVersion":1},{"parameters":{"jsCode":"const notionData = items[0].json.content;\nlet formattedText = '';\n\nif($('Loop Over Items').first().json.property_tldr !== \"\"){\n  formattedText +=\"# TL;DR;\\r\\n\\t>\" + $('Loop Over Items').first().json.property_tldr +'\\r\\n\\r\\n';\n}\n// formattedText += notionData[0] \n\n\n\nfor (let i = 0; i < notionData.length; i++) {\n  const type = items[0].json.type[i];\n\n  if(type && type.startsWith('heading')){\n    formattedText += '#'.repeat(type.split('_')[1]) + ' '\n  }\n  \n  if(type === 'code'){\n    formattedText += '```'\n  } \n  \n  formattedText +=  notionData[i];\n  \n  if(type && !items[0].json.type[i + 1].startsWith('code')){\n    formattedText += '```'\n  }\n  \n  formattedText += '\\n';\n}\n\nreturn [{ formattedText: formattedText }];\n"},"id":"a74f5a4a-3d2e-468c-8ea4-faab22539fae","name":"Format the post","type":"n8n-nodes-base.code","position":[660,320],"typeVersion":2},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"caef5db1-ade5-4c74-90cc-a013b811e6b3","name":"Download image","type":"n8n-nodes-base.httpRequest","position":[660,520],"typeVersion":4.2},{"parameters":{},"id":"4913a041-afa7-4bff-8f8b-da2c7aea8b48","name":"Merge Content","type":"n8n-nodes-base.merge","position":[900,340],"typeVersion":2.1},{"parameters":{"authentication":"webhook","content":"=# **NOVO POST**\nPost *{{ $('Loop Over Items').item.json.name }}* enviado para as plataformas cadastradas! Curta, comente, compartilhe, saporrinha ai.\n### TL;DR;\n> {{ $('Loop Over Items').item.json.property_tldr }}\n\nBom dia!\n","options":{"avatar_url":"https://cdn-icons-png.flaticon.com/512/6681/6681054.png","username":"Post ambulante!"}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1300,260],"id":"95af2be5-1619-46a5-974f-7d61b2285ee2","name":"Discord","credentials":{"discordWebhookApi":{"id":"7PIUf9x4cVtVDDuN","name":"Testes "}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('GetReadyPosts').item.json.id }}","mode":"id"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"published date|date","date":"={{ new Date() }}"},{"key":"published|status","statusValue":"Published"}]},"options":{}},"id":"5f00d59d-64f0-4e8d-b5d3-8aa57d6c3105","name":"Update post status in notion database","type":"n8n-nodes-base.notion","position":[1540,180],"typeVersion":2.2,"credentials":{"notionApi":{"id":"MIYkEsu17Ezd5Xxa","name":"Notion Rod"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-60,220],"id":"17fb4647-1cb7-4c04-b5c6-6a03bb756215","name":"Loop Over Items"},{"parameters":{"person":"CcS-_lLyzG","text":"={{ $json.formattedText }}","shareMediaCategory":"IMAGE","additionalFields":{}},"id":"e15ac4e3-6a24-4ba6-9058-984eadd6633e","name":"Publish on LinkedIn","type":"n8n-nodes-base.linkedIn","position":[1320,660],"typeVersion":1,"disabled":true},{"parameters":{"method":"POST","url":"https://dev.to/api/articles","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"nytiz1GmX4amKhyrWyRPdShU"},{"name":"accept","value":"application/vnd.forem.api-v1+json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n\"article\": {\n        \"title\": \"{{$('Loop Over Items').item.json.property_title }}\",\n        \"published\": false,\n        \"body_markdown\":{{ JSON.stringify($('Merge Content').item.json.formattedText) }},\n        \"main_image\":{{ JSON.stringify($('Merge Metadata').item.json.url[0]) }}\n      }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,460],"id":"4620f483-b46f-4e73-a2d8-f8e5bf204ec9","name":"Dev.To Post","alwaysOutputData":true},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('GetReadyPosts').item.json.id }}","mode":"id"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"published date|date","date":"={{ $json.id }}"},{"key":"published|status","statusValue":"Published"}]},"options":{}},"id":"5d663bf7-4282-437b-91bf-1ceffa2ee932","name":"Update devto_id","type":"n8n-nodes-base.notion","position":[1520,460],"typeVersion":2.2,"credentials":{"notionApi":{"id":"MIYkEsu17Ezd5Xxa","name":"Notion Rod"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id","field2":"id"}]},"options":{}},"id":"4157dfd3-852a-49c1-8cdf-b3e47a1e1c6d","name":"Merge Metadata","type":"n8n-nodes-base.merge","position":[1060,260],"typeVersion":2.1,"alwaysOutputData":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"GetReadyPosts","type":"main","index":0}]]},"GetReadyPosts":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate the Notion blocks":{"main":[[{"node":"Format the post","type":"main","index":0},{"node":"Download image","type":"main","index":0}]]},"Format the post":{"main":[[{"node":"Merge Content","type":"main","index":0}]]},"Download image":{"main":[[{"node":"Merge Content","type":"main","index":1}]]},"Fetch the content on the page":{"main":[[{"node":"Aggregate the Notion blocks","type":"main","index":0}]]},"Merge Content":{"main":[[{"node":"Merge Metadata","type":"main","index":0}]]},"Discord":{"main":[[{"node":"Update post status in notion database","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Fetch the content on the page","type":"main","index":0},{"node":"Merge Metadata","type":"main","index":1}]]},"Update post status in notion database":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Dev.To Post":{"main":[[{"node":"Update devto_id","type":"main","index":0}]]},"Merge Metadata":{"main":[[{"node":"Discord","type":"main","index":0},{"node":"Dev.To Post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"65dbfeb3-2c5a-411b-8652-642548f30b89","triggerCount":1,"tags":[]}