files/n8n/lrr2dtkUALYU25Le.json
{"createdAt":"2024-12-11T13:52:25.660Z","updatedAt":"2024-12-11T13:57:19.000Z","id":"lrr2dtkUALYU25Le","name":"Azure Devops","active":true,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={\n  \"project\": \"{{ $('Webhook').item.json.query.project }}\",\n  \"url\": \"{{ $('Webhook').item.json.query.url }}\"\n}","options":{}},"id":"ff6a982c-89a5-4605-b1a4-28b2c45f824c","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[300,0]},{"parameters":{"path":"devops/pipeline","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"96c8198d-0022-4364-b925-2bbe9ccaa602","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"c92f5345-543c-46ff-9a79-b3419f3888f1","credentials":{"httpHeaderAuth":{"id":"LfPer9NpcQ1gQp7E","name":"Azure Devops Headers"}}},{"parameters":{"authentication":"webhook","content":"=**ATUALIZAÇÔES**\nBuild do {{ $json.query.project }} executada com sucesso. [Clique para ver mais]({{ $json.query.url }})","options":{"avatar_url":"https://png.pngtree.com/png-vector/20240607/ourmid/pngtree-thinking-robot-png-image_12619398.png"}},"id":"8c9bc5c8-eac1-4882-8602-f4a2541563e3","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[300,160],"credentials":{"discordWebhookApi":{"id":"46Pff7zsNdKnnGOl","name":"Koda Notifications"}}},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[300,340],"id":"1a91a532-9665-4388-b0a0-750dd5496e3e","name":"Microsoft Teams","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Discord","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6f54f3aa-9dd9-4739-8e07-fa69b41f6fe1","triggerCount":1,"shared":[{"createdAt":"2024-12-11T13:52:25.665Z","updatedAt":"2024-12-11T13:52:25.665Z","role":"workflow:owner","workflowId":"lrr2dtkUALYU25Le","projectId":"gMJuDzn3AudtUYlf","project":{"createdAt":"2024-12-11T00:44:53.743Z","updatedAt":"2024-12-11T13:46:47.490Z","id":"gMJuDzn3AudtUYlf","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-12-11T00:44:54.251Z","updatedAt":"2024-12-11T00:44:54.251Z","role":"project:personalOwner","userId":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","projectId":"gMJuDzn3AudtUYlf","user":{"createdAt":"2024-12-11T00:33:52.347Z","updatedAt":"2024-12-11T13:47:04.000Z","id":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-12-11T13:47:09.945Z","personalization_survey_n8n_version":"1.70.4","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":false},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}