files/n8n/Moneto.json
{"createdAt":"2024-12-11T14:38:10.216Z","updatedAt":"2024-12-16T23:48:04.000Z","id":"HfH2LROE7rkfzNtc","name":"Moneto","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"315a910a-78cc-45e6-b272-3ab45e5636dc","name":"Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"authentication":"webhook","content":"={{ $('pendente_categorizacao_total').item.json.total }} items a categorizar","options":{"avatar_url":"https://raw.githubusercontent.com/rodcordeiro/psmoneto/main/assets/logo.svg","username":"Moneto"}},"id":"e94f1dfb-5710-4b3e-a022-c4f928481e9b","name":"Daily Uncategorized Msgs","type":"n8n-nodes-base.discord","typeVersion":2,"position":[420,0],"credentials":{"discordWebhookApi":{"id":"HTMLJDOd7rFJsX9c","name":"Darth Fin"}}},{"parameters":{"options":{}},"id":"ab3ec5f6-c4aa-4146-8056-1fbdcfa3adbc","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-20,560],"disabled":true},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"id":"5a36aa13-0daf-48a3-8999-150972cae746","name":"Weekly","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,200]},{"parameters":{"operation":"executeQuery","query":"SELECT count(a.id) as total, b.positive\n  FROM TB_TRANSACTIONS a \n  join TB_CATEGORIES b on a.category = b.id \n WHERE b.transient is true and a.owner = 26","options":{}},"id":"0d2c17f5-0a74-4148-acf4-7884b132e3b2","name":"pendente_categorizacao_total","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[220,0],"alwaysOutputData":false,"credentials":{"mySql":{"id":"VB6b2tGjbL83NWWx","name":"Moneto"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  count(a.id) as weekly_total_transactions,\n  sum(case when b.positive then a.value else a.value * -1 end) as value\nFROM\n  TB_TRANSACTIONS a\n  join TB_CATEGORIES b on a.category = b.id\nWHERE\n  a.date > CURRENT_DATE - 7","options":{}},"id":"60025125-fae6-4065-a9bd-cef89dab91b3","name":"total_transacoes_semana","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[200,420],"alwaysOutputData":true,"credentials":{"mySql":{"id":"VB6b2tGjbL83NWWx","name":"Moneto"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[440,220],"id":"8061c0b4-e62f-4876-900c-25bfbe3d9a99","name":"Merge","executeOnce":true},{"parameters":{"operation":"executeQuery","query":"SELECT\n  count(a.id) as total_transactions,\n  sum(case when b.positive then 1 else 0 end) as positive,\n  sum(case when b.positive then 0 else 1 end) as negative\nFROM\n  TB_TRANSACTIONS a\n  join TB_CATEGORIES b on a.category = b.id\nWHERE\n  b.transient is TRUE\n  and a.owner = 26\n","options":{}},"id":"4b4c2d6b-872d-4029-88b0-9d9392a7d313","name":"pendente_categorizacao_semanal","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[200,200],"alwaysOutputData":true,"credentials":{"mySql":{"id":"VB6b2tGjbL83NWWx","name":"Moneto"}}},{"parameters":{"authentication":"webhook","content":"=","options":{"avatar_url":"https://raw.githubusercontent.com/rodcordeiro/psmoneto/main/assets/logo.svg","username":"Moneto"},"embeds":{"values":[{"description":"=# Atualizações banky:\n\n#{{ $json.total_transactions }} transações pendente de categorização, sendo #{{ $json.positive }} de receitas e #{{ $json.negative }} de despesas.\n\n#{{ $json.weekly_total_transactions }} Transações anotadas na semana, movimentando um total de R$ {{ $json.value }}.\n\nTenha um bom dia!"}]}},"id":"fa7ee236-810b-469b-88a7-9694008c20fc","name":"Weekly message","type":"n8n-nodes-base.discord","typeVersion":2,"position":[600,220],"executeOnce":true,"credentials":{"discordWebhookApi":{"id":"HTMLJDOd7rFJsX9c","name":"Darth Fin"}}}],"connections":{"Daily":{"main":[[{"node":"pendente_categorizacao_total","type":"main","index":0}]]},"Weekly":{"main":[[{"node":"pendente_categorizacao_semanal","type":"main","index":0},{"node":"total_transacoes_semana","type":"main","index":0}]]},"pendente_categorizacao_total":{"main":[[{"node":"Daily Uncategorized Msgs","type":"main","index":0}]]},"total_transacoes_semana":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Weekly message","type":"main","index":0}]]},"pendente_categorizacao_semanal":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Daily":{"recurrenceRules":[]},"node:Weekly":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"095419fd-ef62-4d83-983a-75415bc0fd32","triggerCount":2,"shared":[{"createdAt":"2024-12-11T14:38:10.225Z","updatedAt":"2024-12-11T14:38:10.225Z","role":"workflow:owner","workflowId":"HfH2LROE7rkfzNtc","projectId":"gMJuDzn3AudtUYlf","project":{"createdAt":"2024-12-11T00:44:53.743Z","updatedAt":"2024-12-11T13:46:47.490Z","id":"gMJuDzn3AudtUYlf","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-12-11T00:44:54.251Z","updatedAt":"2024-12-11T00:44:54.251Z","role":"project:personalOwner","userId":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","projectId":"gMJuDzn3AudtUYlf","user":{"createdAt":"2024-12-11T00:33:52.347Z","updatedAt":"2024-12-16T23:03:38.187Z","id":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-12-11T13:47:09.945Z","personalization_survey_n8n_version":"1.70.4","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":true,"isOnboarded":true,"firstSuccessfulWorkflowId":"lrr2dtkUALYU25Le","userActivatedAt":1733927435025,"npsSurvey":{"responded":true,"lastShownAt":1734390226273}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}