files/n8n/O87Ei2gOnn4wsPCC.json
{"createdAt":"2024-09-25T01:06:10.969Z","updatedAt":"2024-11-29T14:29:43.000Z","id":"O87Ei2gOnn4wsPCC","name":"Banky","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"25a47b87-e470-4551-99fc-66fa102a4ad4","name":"Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,200]},{"parameters":{"authentication":"webhook","content":"={{ $('pendente_categorizacao_total').item.json.total }} items a categorizar","options":{}},"id":"b98641b6-d17e-43bc-be07-09fb2e4de6ec","name":"Daily Uncategorized Msgs","type":"n8n-nodes-base.discord","typeVersion":2,"position":[620,200],"credentials":{"discordWebhookApi":{"id":"eMYpvmWshY2u8fVw","name":"Discord Fin Channel"}}},{"parameters":{"options":{}},"id":"7ffd6e52-bd65-4e3f-be6e-f0f5a6d96430","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[200,720],"credentials":{"rabbitmq":{"id":"Gb8FvE1DkWYvLEsZ","name":"Rabbit Banky"}},"disabled":true},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"id":"10132ed7-c482-4f6d-96c8-7ca15e39f754","name":"Weekly","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,400]},{"parameters":{"operation":"executeQuery","query":"SELECT count(a.id) as total, b.positive\n  FROM bk_tb_transactions a \n  join bk_tb_categories b on a.category = b.id \n WHERE a.category in (\n  'da842e12-9627-4636-85e9-b833bb9adf93',\n  'b5c6184e-7e7a-44bf-a60d-919fb1be1ed0'\n )","options":{}},"id":"2d18cab7-2d7f-4400-abd4-912a66224146","name":"pendente_categorizacao_total","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[420,200],"alwaysOutputData":false,"credentials":{"mySql":{"id":"LzAdoZu1ZOPF1el5","name":"MySQL Rod"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  count(a.id) as weekly_total_transactions,\n  sum(case when b.positive then a.value else a.value * -1 end) as value\nFROM\n  bk_tb_transactions a\n  join bk_tb_categories b on a.category = b.id\nWHERE\n  a.date > CURRENT_DATE - 7","options":{}},"id":"1a6765e3-de26-4039-96e1-ef4853af559c","name":"total_transacoes_semana","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[400,620],"alwaysOutputData":true,"credentials":{"mySql":{"id":"LzAdoZu1ZOPF1el5","name":"MySQL Rod"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[600,400],"id":"fddbdb06-f155-49ed-a42a-ecab90ea3b66","name":"Merge","executeOnce":true},{"parameters":{"operation":"executeQuery","query":"SELECT\n  count(a.id) as total_transactions,\n  sum(case when b.positive then 1 else 0 end) as positive,\n  sum(case when b.positive then 0 else 1 end) as negative\nFROM\n  bk_tb_transactions a\n  join bk_tb_categories b on a.category = b.id\nWHERE\n  a.category in (\n    'da842e12-9627-4636-85e9-b833bb9adf93',\n    'b5c6184e-7e7a-44bf-a60d-919fb1be1ed0'\n  )\n","options":{}},"id":"d15f2e2a-059a-4bda-9c5a-e0f2ec51dba9","name":"pendente_categorizacao_semanal","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[400,400],"alwaysOutputData":true,"credentials":{"mySql":{"id":"LzAdoZu1ZOPF1el5","name":"MySQL Rod"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=# Atualizações banky:\n\n#{{ $json.total_transactions }} transações pendente de categorização, sendo #{{ $json.positive }} de receitas e #{{ $json.negative }} de despesas.\n\n#{{ $json.weekly_total_transactions }} Transações anotadas na semana, movimentando um total de R$ {{ $json.value }}.\n\nTenha um bom dia!"}]}},"id":"be34f193-83a2-4d83-bef5-2a4b4a452c32","name":"Weekly message","type":"n8n-nodes-base.discord","typeVersion":2,"position":[800,400],"executeOnce":true,"credentials":{"discordWebhookApi":{"id":"eMYpvmWshY2u8fVw","name":"Discord Fin Channel"}}}],"connections":{"Daily":{"main":[[{"node":"pendente_categorizacao_total","type":"main","index":0}]]},"Weekly":{"main":[[{"node":"pendente_categorizacao_semanal","type":"main","index":0},{"node":"total_transacoes_semana","type":"main","index":0}]]},"pendente_categorizacao_total":{"main":[[{"node":"Daily Uncategorized Msgs","type":"main","index":0}]]},"total_transacoes_semana":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Weekly message","type":"main","index":0}]]},"pendente_categorizacao_semanal":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Daily":{"recurrenceRules":[]},"node:Weekly":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ebdaa939-bbb4-4cec-98a8-fe18f84783d3","triggerCount":2,"tags":[]}