files/n8n/O87Ei2gOnn4wsPCC.json
{"createdAt":"2024-09-25T01:06:10.969Z","updatedAt":"2024-09-27T18:29:14.000Z","id":"O87Ei2gOnn4wsPCC","name":"Banky","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"25a47b87-e470-4551-99fc-66fa102a4ad4","name":"Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,200]},{"parameters":{"operation":"executeQuery","query":"SELECT a.*,b.positive FROM bk_tb_transactions a join bk_tb_categories b on a.category = b.id WHERE a.category in ('da842e12-9627-4636-85e9-b833bb9adf93','b5c6184e-7e7a-44bf-a60d-919fb1be1ed0')","options":{}},"id":"3ec5edcb-ab30-4630-8596-31e4c6a7296c","name":"A categorizar SQL","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[340,200],"alwaysOutputData":false,"credentials":{"mySql":{"id":"LzAdoZu1ZOPF1el5","name":"MySQL Rod"}}},{"parameters":{"authentication":"webhook","content":"={{ $('A categorizar SQL').all().length }} items a categorizar","options":{},"embeds":{"values":[{"description":"=# Atualizações banky:\n\n#0 transações pendente de categorização, sendo #0 de receitas e #0 de despesas.\n\n#0 Transações anotadas ontem, movimentando um total de R$ 00,00.\n\nTenha um bom dia!"}]}},"id":"b98641b6-d17e-43bc-be07-09fb2e4de6ec","name":"Daily Uncategorized Msgs","type":"n8n-nodes-base.discord","typeVersion":2,"position":[480,200],"credentials":{"discordWebhookApi":{"id":"eMYpvmWshY2u8fVw","name":"Discord Fin Channel"}}},{"parameters":{"options":{}},"id":"7ffd6e52-bd65-4e3f-be6e-f0f5a6d96430","name":"RabbitMQ Trigger","type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[200,380],"credentials":{"rabbitmq":{"id":"Gb8FvE1DkWYvLEsZ","name":"RabbitMQ account"}}}],"connections":{"Daily":{"main":[[{"node":"A categorizar SQL","type":"main","index":0}]]},"A categorizar SQL":{"main":[[{"node":"Daily Uncategorized Msgs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Daily":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f378e56e-9145-4db9-8d9b-7c02736d0b85","triggerCount":1,"tags":[]}