files/n8n/O87Ei2gOnn4wsPCC.json
{"createdAt":"2024-09-25T01:06:10.969Z","updatedAt":"2024-09-25T01:08:44.000Z","id":"O87Ei2gOnn4wsPCC","name":"My workflow","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"25a47b87-e470-4551-99fc-66fa102a4ad4","name":"Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,200]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM bk_tb_transactions WHERE category in ('8b524e7f-e0db-44b0-bf66-654ea935fbed','b5c6184e-7e7a-44bf-a60d-919fb1be1ed0')","options":{}},"id":"3ec5edcb-ab30-4630-8596-31e4c6a7296c","name":"A categorizar SQL","type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[340,200],"credentials":{"mySql":{"id":"LzAdoZu1ZOPF1el5","name":"MySQL Rod"}}},{"parameters":{"authentication":"webhook","content":"={{ $('A categorizar SQL').all().length }} items a categorizar","options":{}},"id":"b98641b6-d17e-43bc-be07-09fb2e4de6ec","name":"Daily Uncategorized Msgs","type":"n8n-nodes-base.discord","typeVersion":2,"position":[480,200],"credentials":{"discordWebhookApi":{"id":"7PIUf9x4cVtVDDuN","name":"Testes "}}}],"connections":{"Daily":{"main":[[{"node":"A categorizar SQL","type":"main","index":0}]]},"A categorizar SQL":{"main":[[{"node":"Daily Uncategorized Msgs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Daily":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"07c0af54-63c2-447f-bd0e-87ab5e105468","triggerCount":1,"shared":[{"createdAt":"2024-09-25T01:06:10.994Z","updatedAt":"2024-09-25T01:06:10.994Z","role":"workflow:owner","workflowId":"O87Ei2gOnn4wsPCC","projectId":"4GViomCBul5oQgfN","project":{"createdAt":"2024-08-25T02:37:44.788Z","updatedAt":"2024-08-25T02:38:43.239Z","id":"4GViomCBul5oQgfN","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-08-25T02:37:44.789Z","updatedAt":"2024-08-25T02:37:44.789Z","role":"project:personalOwner","userId":"7c510815-41f6-46c7-b0a4-37236adacd0d","projectId":"4GViomCBul5oQgfN","user":{"createdAt":"2024-08-25T02:37:43.943Z","updatedAt":"2024-09-25T01:07:48.249Z","id":"7c510815-41f6-46c7-b0a4-37236adacd0d","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"companyType":"personal","reportedSource":"linkedin","version":"v4","personalization_survey_submitted_at":"2024-08-25T02:40:44.530Z","personalization_survey_n8n_version":"1.55.3"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"9cbyCpf0fZioeTQw","userActivatedAt":1724662838190,"npsSurvey":{"responded":true,"lastShownAt":1727226460294},"isOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}