files/n8n/p1aPpcdHSkn9Wqxe.json
{"createdAt":"2024-11-27T13:47:38.523Z","updatedAt":"2024-11-27T17:29:44.000Z","id":"p1aPpcdHSkn9Wqxe","name":"Azure Devops","active":true,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={\n  \"project\": \"{{ $('Webhook').item.json.query.project }}\",\n  \"url\": \"{{ $('Webhook').item.json.query.url }}\"\n}","options":{}},"id":"62c13200-a01f-4265-b76f-19f41a0ea9d4","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[920,280]},{"parameters":{"path":"devops/pipeline","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"e87cc332-9618-463f-a06b-4f208d00ee96","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[620,280],"webhookId":"c92f5345-543c-46ff-9a79-b3419f3888f1","credentials":{"httpHeaderAuth":{"id":"f8zR5OjlB7PLyHXq","name":"Torra Header token"}}},{"parameters":{"authentication":"webhook","content":"=**ATUALIZAÇÔES**\nBuild do {{ $json.query.project }} executada com sucesso. [Clique para ver mais]({{ $json.query.url }})","options":{"avatar_url":"https://png.pngtree.com/png-vector/20240607/ourmid/pngtree-thinking-robot-png-image_12619398.png"}},"id":"4a6eb7b2-19d7-4ebc-a1f7-5ade78c9f791","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[920,440],"credentials":{"discordWebhookApi":{"id":"A9SgffERJCenWZVE","name":"Koda Notification channel"}}},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[920,620],"id":"ec976f86-e105-4bc9-8922-a399c45905b3","name":"Microsoft Teams","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Discord","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77fbaa16-3748-4d52-9fc9-5eaa1333a7dd","triggerCount":1,"tags":[]}