files/n8n/p1aPpcdHSkn9Wqxe.json
{"createdAt":"2024-11-27T13:47:38.523Z","updatedAt":"2024-11-27T14:21:08.000Z","id":"p1aPpcdHSkn9Wqxe","name":"Azure Devops","active":true,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={\n  \"project\": \"{{ $('Webhook').item.json.query.project }}\",\n  \"url\": \"{{ $('Webhook').item.json.query.url }}\"\n}","options":{}},"id":"62c13200-a01f-4265-b76f-19f41a0ea9d4","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[920,280]},{"parameters":{"path":"devops/pipeline","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"e87cc332-9618-463f-a06b-4f208d00ee96","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[620,280],"webhookId":"c92f5345-543c-46ff-9a79-b3419f3888f1","credentials":{"httpHeaderAuth":{"id":"f8zR5OjlB7PLyHXq","name":"Torra Header token"}}},{"parameters":{"authentication":"webhook","content":"=**ATUALIZAÇÔES**\nBuild do {{ $json.query.project }} executada com sucesso. [Clique para ver mais]({{ $json.query.url }})","options":{"avatar_url":"https://png.pngtree.com/png-vector/20240607/ourmid/pngtree-thinking-robot-png-image_12619398.png","tts":true}},"id":"4a6eb7b2-19d7-4ebc-a1f7-5ade78c9f791","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[780,280],"credentials":{"discordWebhookApi":{"id":"A9SgffERJCenWZVE","name":"Koda Notification channel"}}}],"connections":{"Webhook":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Discord":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0e20f86e-cb16-430e-95dc-269f3fe2b19a","triggerCount":1,"shared":[{"createdAt":"2024-11-27T13:47:38.566Z","updatedAt":"2024-11-27T13:47:38.566Z","role":"workflow:owner","workflowId":"p1aPpcdHSkn9Wqxe","projectId":"4GViomCBul5oQgfN","project":{"createdAt":"2024-08-25T02:37:44.788Z","updatedAt":"2024-08-25T02:38:43.239Z","id":"4GViomCBul5oQgfN","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-08-25T02:37:44.789Z","updatedAt":"2024-08-25T02:37:44.789Z","role":"project:personalOwner","userId":"7c510815-41f6-46c7-b0a4-37236adacd0d","projectId":"4GViomCBul5oQgfN","user":{"createdAt":"2024-08-25T02:37:43.943Z","updatedAt":"2024-09-25T01:07:48.249Z","id":"7c510815-41f6-46c7-b0a4-37236adacd0d","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"companyType":"personal","reportedSource":"linkedin","version":"v4","personalization_survey_submitted_at":"2024-08-25T02:40:44.530Z","personalization_survey_n8n_version":"1.55.3"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"9cbyCpf0fZioeTQw","userActivatedAt":1724662838190,"npsSurvey":{"responded":true,"lastShownAt":1727226460294},"isOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}