files/n8n/Post automation.json
{"createdAt":"2024-12-11T14:12:04.456Z","updatedAt":"2024-12-11T14:14:02.000Z","id":"E5gvbeVaHcLVfJjs","name":"Post automation","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"003e3043-0107-4de3-8a53-f5f4daf240fd","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2020,40],"typeVersion":1.2},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"mode":"url","value":"={{ $json.url }}"},"returnAll":true},"id":"a9058e8a-dd7d-441d-803d-4f41000f5c94","name":"Fetch the content on the page","type":"n8n-nodes-base.notion","position":[-1380,240],"typeVersion":2.2,"credentials":{"notionApi":{"id":"DLxc9cJHer4soKzw","name":"Notion"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"14c58d4e-bf0f-80a5-826e-c6de0241815a","mode":"list","cachedResultName":"posts","cachedResultUrl":"https://www.notion.so/14c58d4ebf0f80a5826ec6de0241815a"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"published|status","condition":"equals","statusValue":"Ready"}]},"options":{"sort":{"sortValue":[{"key":"ID|unique_id","direction":"ascending"}]}}},"id":"a4bfd137-e743-4cb6-bb63-e085b4d5ef05","name":"GetReadyPosts","type":"n8n-nodes-base.notion","position":[-1820,40],"typeVersion":2.2,"credentials":{"notionApi":{"id":"DLxc9cJHer4soKzw","name":"Notion"}}},{"parameters":{"content":"## Process and format the post","height":480,"width":827,"color":6},"id":"1287fe45-c2e0-49b0-b544-b51a4f394c34","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1200,20],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content"},{"fieldToAggregate":"image.file.url"},{"fieldToAggregate":"type"}]},"options":{}},"id":"0a270888-43b0-4af9-b2f8-d2f06944b249","name":"Aggregate the Notion blocks","type":"n8n-nodes-base.aggregate","position":[-1100,240],"typeVersion":1},{"parameters":{"jsCode":"const notionData = items[0].json.content;\nlet formattedText = '';\n\nif($('Loop Over Items').first().json.property_tldr !== \"\"){\n  formattedText +=\"# TL;DR;\\r\\n\\t>\" + $('Loop Over Items').first().json.property_tldr +'\\r\\n\\r\\n';\n}\n// formattedText += notionData[0] \n\n\n\nfor (let i = 0; i < notionData.length; i++) {\n  const type = items[0].json.type[i];\n\n  if(type && type.startsWith('heading')){\n    formattedText += '#'.repeat(type.split('_')[1]) + ' '\n  }\n  \n  if(type === 'code'){\n    formattedText += '```'\n  } \n  \n  formattedText +=  notionData[i];\n  \n  if(type && !items[0].json.type[i + 1].startsWith('code')){\n    formattedText += '```'\n  }\n  \n  formattedText += '\\n';\n}\n\nreturn [{ formattedText: formattedText }];\n"},"id":"4ad63f12-8f04-4cc8-8fc2-0de92825324b","name":"Format the post","type":"n8n-nodes-base.code","position":[-880,140],"typeVersion":2},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"9ed654ca-0b6c-4b8b-908d-68a6bbc1aa44","name":"Download image","type":"n8n-nodes-base.httpRequest","position":[-880,340],"typeVersion":4.2},{"parameters":{},"id":"95664f72-27df-4666-a711-dcfa72aff552","name":"Merge Content","type":"n8n-nodes-base.merge","position":[-640,160],"typeVersion":2.1},{"parameters":{"authentication":"webhook","content":"=# **NOVO POST**\nPost *{{ $('Loop Over Items').item.json.name }}* enviado para as plataformas cadastradas! Curta, comente, compartilhe, saporrinha ai.\n### TL;DR;\n> {{ $('Loop Over Items').item.json.property_tldr }}\n\nBom dia!\n","options":{"avatar_url":"https://cdn-icons-png.flaticon.com/512/6681/6681054.png","username":"Post ambulante!"}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-240,80],"id":"80ddf6a9-3696-45a5-b219-73eea9ddcc9e","name":"Discord","credentials":{"discordWebhookApi":{"id":"RiA5jqb4WiIcmb6i","name":"Dath Testes"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('GetReadyPosts').item.json.id }}","mode":"id"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"published date|date","date":"={{ new Date() }}"},{"key":"published|status","statusValue":"Published"}]},"options":{}},"id":"038d4410-0b54-4773-81ca-0608d92b4fc2","name":"Update post status in notion database","type":"n8n-nodes-base.notion","position":[0,0],"typeVersion":2.2,"credentials":{"notionApi":{"id":"DLxc9cJHer4soKzw","name":"Notion"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1600,40],"id":"48c7b59e-fe6b-4bcd-a79d-84fad55c1cd4","name":"Loop Over Items"},{"parameters":{"person":"CcS-_lLyzG","text":"={{ $json.formattedText }}","shareMediaCategory":"IMAGE","additionalFields":{}},"id":"d6ae3e0d-16b8-4b86-88ed-75349e9cfbc9","name":"Publish on LinkedIn","type":"n8n-nodes-base.linkedIn","position":[-220,480],"typeVersion":1,"disabled":true},{"parameters":{"method":"POST","url":"https://dev.to/api/articles","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"nytiz1GmX4amKhyrWyRPdShU"},{"name":"accept","value":"application/vnd.forem.api-v1+json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n\"article\": {\n        \"title\": \"{{$('Loop Over Items').item.json.property_title }}\",\n        \"published\": false,\n        \"body_markdown\":{{ JSON.stringify($('Merge Content').item.json.formattedText) }},\n        \"main_image\":{{ JSON.stringify($('Merge Metadata').item.json.url[0]) }}\n      }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,280],"id":"ae02584d-c48e-4806-9738-0b076bdf2808","name":"Dev.To Post","alwaysOutputData":true},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('GetReadyPosts').item.json.id }}","mode":"id"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"published date|date","date":"={{ $json.id }}"},{"key":"published|status","statusValue":"Published"}]},"options":{}},"id":"a4bc73be-dd19-41f2-b987-fe3d9341253a","name":"Update devto_id","type":"n8n-nodes-base.notion","position":[-20,280],"typeVersion":2.2,"credentials":{"notionApi":{"id":"DLxc9cJHer4soKzw","name":"Notion"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id","field2":"id"}]},"options":{}},"id":"ff7449df-7e5d-448f-bdc4-b03c12cd3072","name":"Merge Metadata","type":"n8n-nodes-base.merge","position":[-480,80],"typeVersion":2.1,"alwaysOutputData":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"GetReadyPosts","type":"main","index":0}]]},"GetReadyPosts":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate the Notion blocks":{"main":[[{"node":"Format the post","type":"main","index":0},{"node":"Download image","type":"main","index":0}]]},"Format the post":{"main":[[{"node":"Merge Content","type":"main","index":0}]]},"Download image":{"main":[[{"node":"Merge Content","type":"main","index":1}]]},"Fetch the content on the page":{"main":[[{"node":"Aggregate the Notion blocks","type":"main","index":0}]]},"Merge Content":{"main":[[{"node":"Merge Metadata","type":"main","index":0}]]},"Discord":{"main":[[{"node":"Update post status in notion database","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Fetch the content on the page","type":"main","index":0},{"node":"Merge Metadata","type":"main","index":1}]]},"Update post status in notion database":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Dev.To Post":{"main":[[{"node":"Update devto_id","type":"main","index":0}]]},"Merge Metadata":{"main":[[{"node":"Discord","type":"main","index":0},{"node":"Dev.To Post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"dd820a99-dd6a-4b42-ad5c-06ec6e1e96b7","triggerCount":1,"shared":[{"createdAt":"2024-12-11T14:12:04.500Z","updatedAt":"2024-12-11T14:12:04.500Z","role":"workflow:owner","workflowId":"E5gvbeVaHcLVfJjs","projectId":"gMJuDzn3AudtUYlf","project":{"createdAt":"2024-12-11T00:44:53.743Z","updatedAt":"2024-12-11T13:46:47.490Z","id":"gMJuDzn3AudtUYlf","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-12-11T00:44:54.251Z","updatedAt":"2024-12-11T00:44:54.251Z","role":"project:personalOwner","userId":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","projectId":"gMJuDzn3AudtUYlf","user":{"createdAt":"2024-12-11T00:33:52.347Z","updatedAt":"2024-12-11T14:10:16.069Z","id":"9ac6b9ff-3f89-4431-85f3-f4a10250cafb","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-12-11T13:47:09.945Z","personalization_survey_n8n_version":"1.70.4","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":false,"isOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}