files/n8n/Rabbit notifications.json
{
  "active": true,
  "connections": {
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-30T16:32:06.533Z",
  "id": "PwtYSIgOizRHzAMf",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Rabbit notifications",
  "nodes": [
    {
      "parameters": {
        "queue": "n8n",
        "options": {
          "assertExchange": true,
          "assertQueue": true,
          "binding": {
            "bindings": [
              {
                "exchange": "Notifications",
                "routingKey": "notification"
              }
            ]
          },
          "acknowledge": "laterMessageNode",
          "jsonParseBody": true
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        0
      ],
      "id": "e0a9f9ce-bea7-4789-b190-de53ef36ba59",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "YKPa7yJaTY8ppSj1",
          "name": "RabbitMQ N8N Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## {{ $json.content.title }}\n> {{ $json.content.description }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "d12397aa-f3a7-4d8b-b84b-0e3acab11eab",
      "name": "Discord",
      "webhookId": "0dd1137c-24c4-47cc-bc35-c4ccb3fb6943",
      "retryOnFail": false,
      "credentials": {
        "discordWebhookApi": {
          "id": "RiA5jqb4WiIcmb6i",
          "name": "Dath Testes"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage"
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        300,
        0
      ],
      "id": "e5f288ec-12b3-45b1-95b3-ac1ecda85f36",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "YKPa7yJaTY8ppSj1",
          "name": "RabbitMQ N8N Account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "shares",
  "repo_owner": "rodcordeiro",
  "repo_path": "files/n8n",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-24T19:39:33.000Z",
  "versionId": "e8e51d9e-ee8e-4902-88cf-a457cc48ee00"
}