files/n8n/s2Jokc5n7vpCELOE.json
{"createdAt":"2024-11-27T17:16:30.419Z","updatedAt":"2024-11-27T17:31:58.000Z","id":"s2Jokc5n7vpCELOE","name":"Notion knowledge base AI assistant","active":false,"nodes":[{"parameters":{"model":"gpt-3.5-turbo","options":{"temperature":0.7,"timeout":25000}},"id":"d1d4291e-fa37-43d0-81e0-f0a594371426","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1400,620],"typeVersion":1,"credentials":{"openAiApi":{"id":"3R54Pf1Bxawbx5RP","name":"OpenAi account"}}},{"parameters":{"toolDescription":"=Use this tool to search the \"\" Notion app database.\n\nIt is structured with question and answer format. \nYou can filter query result by:\n- By keyword\n- filter by tag.\n\nKeyword and Tag have an OR relationship not AND.\n\n","method":"POST","url":"=https://api.notion.com/v1/databases/{{ $json.notionID }}/query","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"filter\": {\n    \"or\": [\n      {\n        \"property\": \"question\",\n        \"rich_text\": {\n          \"contains\": \"{keyword}\"\n        }\n      },\n      {\n        \"property\": \"tags\",\n        \"multi_select\": {\n          \"contains\": \"{tag}\"\n        }\n      }\n    ]\n  },\n  \"sorts\": [\n    {\n      \"property\": \"updated_at\",\n      \"direction\": \"ascending\"\n    }\n  ]\n}","placeholderDefinitions":{"values":[{"name":"keyword","description":"Searches question of the record. Use one keyword at a time."},{"name":"tag","description":"=Options: {{ $json.tagsOptions }}"}]}},"id":"68e6805b-9c19-4c9e-a300-8983f2b7c28a","name":"Search notion database","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1700,620],"typeVersion":1.1,"credentials":{"notionApi":{"id":"MIYkEsu17Ezd5Xxa","name":"Notion Rod"}}},{"parameters":{"resource":"database","databaseId":{"__rl":true,"value":"14b58d4e-bf0f-806b-aa84-c684fcd706f3","mode":"list","cachedResultName":"zettelkastenkb","cachedResultUrl":"https://www.notion.so/14b58d4ebf0f806baa84c684fcd706f3"},"simple":false},"id":"c3164d38-a9fb-4ee3-b6bd-fccb4aa5a1a4","name":"Get database details","type":"n8n-nodes-base.notion","position":[1140,380],"typeVersion":2.2,"credentials":{"notionApi":{"id":"MIYkEsu17Ezd5Xxa","name":"Notion Rod"}}},{"parameters":{"contextWindowLength":4},"id":"98300243-efcc-4427-88da-c1af8a91ddae","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1540,620],"typeVersion":1.2},{"parameters":{"toolDescription":"=Use this tool to retrieve Notion page content using the page ID. \n\nIt is structured with question and answer format. \nYou can filter query result by:\n- By keyword\n- filter by tag.\n\nKeyword and Tag have an OR relationship not AND.\n\n","url":"https://api.notion.com/v1/blocks/{page_id}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","placeholderDefinitions":{"values":[{"name":"page_id","description":"Notion page id from 'Search notion database' tool results"}]},"optimizeResponse":true,"dataField":"results","fieldsToInclude":"selected","fields":"id, type, paragraph.text, heading_1.text, heading_2.text, heading_3.text, bulleted_list_item.text, numbered_list_item.text, to_do.text, children"},"id":"a8473f48-1343-4eb2-8e48-ec89377a2a00","name":"Search inside database record","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1860,620],"notesInFlow":true,"typeVersion":1.1,"credentials":{"notionApi":{"id":"MIYkEsu17Ezd5Xxa","name":"Notion Rod"}},"notes":" "},{"parameters":{"assignments":{"assignments":[{"id":"a8e58791-ba51-46a2-8645-386dd1a0ff6e","name":"sessionId","type":"string","value":"={{ $('When chat message received').item.json.sessionId }}"},{"id":"434209de-39d5-43d8-a964-0fcb7396306c","name":"action","type":"string","value":"={{ $('When chat message received').item.json.action }}"},{"id":"cad4c972-51a9-4e16-a627-b00eea77eb30","name":"chatInput","type":"string","value":"={{ $('When chat message received').item.json.chatInput }}"},{"id":"8e88876c-2714-494d-bd5e-5e80c99f83e3","name":"notionID","type":"string","value":"={{ $('Get database details').item.json.id }}"},{"id":"a88a15f6-317c-4d2e-9d64-26f5ccaf7a97","name":"databaseName","type":"string","value":"={{ $json.title[0].text.content }}"},{"id":"7c3bf758-8ed3-469a-8695-6777f4af4fb9","name":"tagsOptions","type":"string","value":"={{ $json.properties.tags.multi_select.options.map(item => item.name).join(',') }}"}]},"options":{}},"id":"115c328e-84b0-43d2-8df7-8b3f74cbb2fb","name":"Format schema","type":"n8n-nodes-base.set","position":[1340,380],"typeVersion":3.4},{"parameters":{"content":"## Notion knowledge base assistant [v1]\nBuilt as part of the [30 Day AI Sprint](https://30dayaisprint.notion.site/) by [@maxtkacz](https://x.com/maxtkacz)\n","height":95.12709218477178,"width":462.3561535890252,"color":6},"id":"3b82f4fe-6c0c-4e6e-a387-27de31fec758","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"### FAQ\n- In `Get database details` if you see a `The resource you are requesting could not be found` error, you need to add your connection to the database (in the Notion app).\n- The `Get database details` pulls most recent `Tags` and informs AI Agent of them. However this step adds ~250-800ms per run. Watch detailed video to see how to remove this step. ","height":172.4760209818479,"width":462.3561535890252,"color":7},"id":"31debc55-6608-4e64-be18-1bc0fc0fbf16","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[380,1060],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=# Role:\nYou are a helpful agent. Query the \"{{ $json.databaseName }}\" Notion database to find relevant records or summarize insights based on multiple records.\n\n# Behavior:\n\nBe clear, very concise, efficient, and accurate in responses. Do not hallucinate.\nIf the request is ambiguous, ask for clarification. Do not embellish, only use facts from the Notion records. Do not offer general advice.\n\n# Error Handling:\n\nIf no matching records are found, try alternative search criteria. Example 1: Laptop, then Computer, then Equipment. Example 2: meetings, then meeting.\nClearly explain any issues with queries (e.g., missing fields or unsupported filters).\n\n# Output:\n\nReturn concise, user-friendly results or summaries.\nFor large sets, show top results by default and offer more if needed. Output URLs in markdown format. \n\nWhen a record has the answer to user question, always output the URL to that page. Do not output links twice."}},"id":"9f48e548-f032-477c-960d-9c99d61443df","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1540,380],"typeVersion":1.6},{"parameters":{"public":true,"initialMessages":"=Happy {{ $today.weekdayLong }}!\nKnowledge source assistant at your service. How can I help you?","options":{"subtitle":"","title":"Notion Knowledge Base"}},"id":"f1274a12-128c-4549-a19b-6bfc3beccd89","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[940,380],"webhookId":"b76d02c0-b406-4d21-b6bf-8ad2c623def3","typeVersion":1.1},{"parameters":{"content":"### Template set up quickstart video 👇\n[![Video Thumbnail](https://uploads.n8n.io/maxt/notion-db-assistant-embedded-thumb.png#full-width)](https://www.youtube.com/watch?v=ynLZwS2Nhnc)\n","height":318.2958135288425,"width":463.90418399676537,"color":7},"id":"2e25e4bc-7970-4d00-a757-ba1e418873aa","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[380,360],"typeVersion":1},{"parameters":{"content":"### Written set up steps\n1. Add a Notion credential to your n8n workspace (follow [this Notion guide](https://developers.notion.com/docs/create-a-notion-integration))\n2. [Duplicate Company knowledge base Notion template](https://www.notion.so/templates/knowledge-base-ai-assistant-with-n8n) to your Notion workspace, then make sure to share the new knowledge base with connection you created in Step 1. \n3. Add Notion cred to `Get database details`:`Credential to connect with` parameter, then to `Search notion database`:`Notion API` parameter (same for `Search inside database record`)\n4. Add OpenAI credential to `Open AI Chat Model` node (tested and working with Anthropic Claude 3.5 too)\n5. In `Get database details`, select the db you created from Step 2 in `Database` dropdown.\n6. Click `Chat` button to test the workflow. Then Activate it and copy the `Chat URL` from `When chat message received`.","height":332.14098134070576,"width":461.5634274842711,"color":7},"id":"ba6fe953-fd5c-497f-ac2a-7afa04b7e6cc","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[380,700],"typeVersion":1}],"connections":{"Format schema":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get database details":{"main":[[{"node":"Format schema","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Search notion database":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Get database details","type":"main","index":0}]]},"Search inside database record":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2413"},"pinData":{},"versionId":"b783d0a2-1e3c-40b0-afd6-4a33dfdd8370","triggerCount":0,"tags":[]}