files/n8n/w49dVgJJQOXLM4FK.json
{"createdAt":"2024-11-27T16:29:40.291Z","updatedAt":"2024-11-27T16:29:40.291Z","id":"w49dVgJJQOXLM4FK","name":"Advanced Telegram Bot, Ticketing System, LiveChat, User Management, Broadcasting","active":false,"nodes":[{"parameters":{"content":"## Use **Config Bot** to setup your telegram details, like:\n1- Telegram Group ID (Don't forget add bot as admin)\n2- Telegram Channel ID (Don't forget add bot as admin)\n3- Your telegram Bot Token. (Generate through @BotFather)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Setup data & filter & route to the correct Side.\n0- None of them - Soon - Wait V2\n1- Chat Type (`Private`)\n2- Chat Type (`Supergroup`)\n3- Chat Type (`Channel`)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Remember:\n* Do not make your support group public. Every message sent in the group on various topics will be forwarded to the user's ticket.\n* There is no need to promote your broadcasting channel; the main reason for the channel is to organize and broadcast messages.\n* You can host a Redis database without any coding/server management skills through Coolify.io.\n* In the next version, I will add the **edit messages** feature, where the forwarded messages will be updated with the new edited one.\n\n## Why use this method?\n* If you deal with Telegram P2P, anyone can delete messages from both sides. If you run a business, then one of your clients may delete all messages, causing you to lose the history. This solution prevents people from deleting messages; every message forwarded into the support group will not be possible to delete by the sender.\n* Team collaboration: Why share one account when you can convert the whole group into a ticketing system? With this project, you can invite all your coworkers to reply and provide support to your clients through Telegram.\n* Integrate with third-party services? Using N8N will pave the way for integrating your Telegram users' data into a CRM. In V2, we will enable the option to force new users to share their leads before receiving support.","height":1416.261500302191,"width":629.040241216464,"color":7},"id":"d2a02884-a082-4d77-8558-b819fdfd8e09","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.isEmpty() }}","operation":"regex","value2":"true"}]}},"id":"c45c5efc-9c4d-4373-b267-bb13a01cb1de","name":"New User ?","type":"n8n-nodes-base.if","position":[1300,440],"typeVersion":1},{"parameters":{"jsCode":"function escapeRedisJsonSyntax(value) {\n  if (typeof value === 'string') {\n    return value.replace(/[\"\\\\/]/g, '\\\\$&');\n  }\n  return value;\n}\n\nconst outputItems = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const escapedItem = { TG_USER_: {} };\n\n  for (const key in item) {\n    const value = item[key];\n    if (Array.isArray(value)) {\n      escapedItem.TG_USER_[key] = [escapeRedisJsonSyntax(value[0])];\n    } else if (typeof value === 'object') {\n      flattenObject(value, escapedItem.TG_USER_, key);\n    } else {\n      escapedItem.TG_USER_[key] = escapeRedisJsonSyntax(value);\n    }\n  }\n\n  outputItems.push(escapedItem);\n}\n\nfunction flattenObject(obj, result, prefix) {\n  for (const key in obj) {\n    const newKey = prefix ? `${prefix}_${key}` : key;\n    const value = obj[key];\n    if (typeof value === 'object') {\n      if (Array.isArray(value)) {\n        result[newKey] = [escapeRedisJsonSyntax(value[0])];\n      } else {\n        flattenObject(value, result, newKey);\n      }\n    } else {\n      result[newKey.replace('json_message_', '').replace('json_', '')] = escapeRedisJsonSyntax(value);\n    }\n  }\n}\n\nreturn outputItems;\n"},"id":"ab015a1f-9ee3-48f6-88c2-02d43fa739bc","name":"Format","type":"n8n-nodes-base.code","position":[440,840],"typeVersion":2},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.TG_USER_.removeField('BotToken').removeField('pairedItem_item').removeField('Support_Group_ID') }}","include":"selected","options":{}},"id":"18c5126d-6c3e-4b5f-989e-d6830cb73a90","name":"Bot-Fields","type":"n8n-nodes-base.set","position":[580,840],"typeVersion":3.2},{"parameters":{"url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/createForumTopic?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"]}}&name={{ encodeURIComponent(('['+$('Bot-Fields').item.json.from_first_name +'] - [id:'+ $('Bot-Fields').item.json.chat_id +']'))}}&icon_color=9367192&icon_custom_emoji_id=5417915203100613993","options":{}},"id":"0cc142e7-4fbc-4104-9529-1087a7bac68a","name":"Create Topic (Chat Ticket)","type":"n8n-nodes-base.httpRequest","position":[1780,320],"typeVersion":4.1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={\"message_thread_id\":{{ $json.result.message_thread_id }}}","keyType":"hash"},"id":"e983994f-7922-49c2-8c4e-73100a030898","name":"Save Topic ID","type":"n8n-nodes-base.redis","position":[1960,320],"typeVersion":1},{"parameters":{"operation":"get","propertyName":"result","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","keyType":"hash","options":{}},"id":"1f3afe0c-3ec4-431f-92b7-f06df5e1b39d","name":"Get User Chat Topic","type":"n8n-nodes-base.redis","position":[1900,500],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_thread_id={{ $json[\"result\"][\"message_thread_id\"] }}&from_chat_id={{ $('Bot-Fields').item.json[\"chat_id\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"id":"591e1768-58c9-428e-8a0d-69ba4cce7ccc","name":"Forward New Message","type":"n8n-nodes-base.httpRequest","position":[2260,500],"typeVersion":4.1,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error.message }}","operation":"contains","value2":"thread not found"}]}},"id":"fd063a6d-0caa-4f81-921d-f8fa952d7b9b","name":"IF No Topic Created","type":"n8n-nodes-base.if","position":[1740,900],"typeVersion":1},{"parameters":{"url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/createForumTopic?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"]}}&name={{ encodeURIComponent(('['+$('Bot-Fields').item.json.from_first_name +'] - [id:'+ $('Bot-Fields').item.json.chat_id +']'))}}&icon_color=9367192&icon_custom_emoji_id=5417915203100613993","options":{}},"id":"ef044803-5e2e-4e54-a10b-21ad5feadb26","name":"ReCreate Topic (Chat Ticket)","type":"n8n-nodes-base.httpRequest","position":[1920,800],"typeVersion":4.1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={\"message_thread_id\":{{ $json.result.message_thread_id }}}","keyType":"hash"},"id":"691398ab-b434-46d0-b3fe-046235d7cdf8","name":"ReSave Topic ID","type":"n8n-nodes-base.redis","position":[2080,800],"typeVersion":1},{"parameters":{"content":"## Re Create New Topic\n**Sometimes** in support group may the team delete or close a ticket (topic) in case of that this steps will create topic again for the user, and store the new ticket id (topic/thread ID).","height":466.5190319644644,"width":734.3067601294108,"color":3},"id":"69fc3fe2-a339-4c99-a85b-6facf41526bf","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1720,700],"typeVersion":1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={{ $item(\"0\").$node[\"Bot-Fields\"].json }}","keyType":"hash"},"id":"4cb855d4-a306-4bd4-b24d-ee5f6db518d4","name":"Update User Data","type":"n8n-nodes-base.redis","position":[1560,500],"typeVersion":1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={{ $item(\"0\").$node[\"Bot-Fields\"].json }}","keyType":"hash"},"id":"878f0dec-ad7b-4584-b20a-dd3db634d6dd","name":"Save User Data","type":"n8n-nodes-base.redis","position":[1560,320],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Config').item.json.message.chat.id }}","operation":"regex","value2":"={{ $('Bot-Config').item.json.Support_Group_ID }}"}]}},"id":"e411b235-74bf-4f1b-9070-da1d0dc15815","name":"Support Forum","type":"n8n-nodes-base.if","position":[1080,820],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Fields').item.json.message_thread_id }}","operation":"isNotEmpty"},{"value1":"={{ $('Bot-Fields').item.json.reply_to_message_is_topic_message }}","operation":"regex","value2":"true"},{"value1":"={{ $('Bot-Fields').item.json.is_topic_message }}","operation":"regex","value2":"true"}]}},"id":"05c04455-1406-47aa-8a81-aa2ec914c502","name":"From Ticket","type":"n8n-nodes-base.if","position":[1280,800],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $json[\"reply_to_message_forward_from_id\"] || $('Bot-Fields').item.json.reply_to_message_forum_topic_created_name.match(/\\[id:(\\d+)\\]/)[1] }}&from_chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"id":"71b55beb-7c93-40a1-a94b-f411d11eb713","name":"Forward Support Reply To User","type":"n8n-nodes-base.httpRequest","position":[1500,780],"typeVersion":4.1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.forum_topic_created_name.isNotEmpty() }}","operation":"regex","value2":"true"}]}},"id":"aa70a9f6-ac3c-4ac4-a829-ef3e35720f2f","name":"IF Topic Created","type":"n8n-nodes-base.if","position":[1280,1020],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_thread_id={{ $json[\"result\"][\"message_thread_id\"] }}&from_chat_id={{ $('Bot-Fields').item.json[\"chat_id\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"id":"4b1ba81a-6986-48a9-b439-cd79cfe278b7","name":"Forward New Message to the recrated topic","type":"n8n-nodes-base.httpRequest","position":[2240,800],"typeVersion":4.1},{"parameters":{},"id":"7eef7a26-8c59-4020-90f8-45f28e36c43f","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[2240,1000],"typeVersion":1},{"parameters":{"operation":"keys","keyPattern":"=TG-USER-{{ $json.chat_id }}"},"id":"db77035a-1256-4210-a13d-8333778fb579","name":"Check User in Database","type":"n8n-nodes-base.redis","position":[1120,440],"notesInFlow":true,"typeVersion":1,"notes":"Search Key"},{"parameters":{"content":"## Support Side\n**This Part** is meant to forward replies that sent by support (members in the group)","height":473,"width":656,"color":5},"id":"c01200b7-8aa4-4d44-a9a9-a802179f3afc","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1040,700],"typeVersion":1},{"parameters":{"chatId":"={{ $json.forum_topic_created_name.match(/\\[id:(\\d+)\\]/)[1] }}","text":"A new ticket has been created for you. Please wait while one of our support team members becomes available to reply.","additionalFields":{"appendAttribution":false}},"id":"a443f847-248a-4287-8aad-737c4891b344","name":"Send User Ticket Created Notification","type":"n8n-nodes-base.telegram","position":[1480,1000],"typeVersion":1.1},{"parameters":{"content":"## User Side\n**This Part** is meant to save user data on a RAM database which is fast, and in same time forward the message to support after creating a new ticket (Topic) dedciated for the user id in the support group.","height":422,"width":1409.9137494026593,"color":3},"id":"2746b480-91ed-4968-809d-9eca523d290a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1040,240],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"BotToken","stringValue":"Your Bot Token here (Also add credntinals in Telegram Node)"},{"name":"Support_Group_ID","stringValue":"Your Telegram Group here (Don't forget to give BOT admin privileges)"},{"name":"Boradcast_Channel_ID","stringValue":"Your Telegram Channel here (Don't forget to give BOT admin privileges)"}]},"options":{}},"id":"545d768f-a0b2-465a-a084-c43a6231d31a","name":"Bot-Config","type":"n8n-nodes-base.set","position":[820,380],"typeVersion":3.2},{"parameters":{"updates":["message","channel_post"],"additionalFields":{}},"id":"59145dcd-51e3-4392-ad79-85601c872931","name":"Telegram-Bot","type":"n8n-nodes-base.telegramTrigger","position":[460,380],"webhookId":"d8b773ab-aee9-494b-8749-f0aa80032871","typeVersion":1},{"parameters":{"dataType":"string","value1":"={{ $json.chat_type || $json.channel_post_sender_chat_type }}","rules":{"rules":[{"operation":"regex","value2":"private","output":1},{"operation":"regex","value2":"supergroup","output":2},{"operation":"regex","value2":"channel","output":3}]},"fallbackOutput":0},"id":"14b0ac28-5be5-4878-ab57-f7361291cc8e","name":"1st","type":"n8n-nodes-base.switch","position":[720,840],"typeVersion":1},{"parameters":{"batchSize":29,"options":{}},"id":"d91e0fdf-7344-4968-beac-49c2331b5170","name":"Split In Batches1","type":"n8n-nodes-base.splitInBatches","position":[1860,1360],"notesInFlow":true,"typeVersion":2,"notes":"Telegram Limitation 29/sec"},{"parameters":{"amount":3,"unit":"seconds"},"id":"f6ce5dbb-8707-4243-9814-5bd57397e652","name":"Wait1","type":"n8n-nodes-base.wait","position":[2260,1320],"webhookId":"9f87deed-d502-46d3-8c85-ce99552a0441","typeVersion":1},{"parameters":{"jsCode":"let response = items[0].json; // get the Redis response\nlet newItems = []; // to store the new items\n\nfor(let key in response) {\n    if(response.hasOwnProperty(key)) {\n        newItems.push({\n            json: {\n                user: response[key]\n            }\n        });\n    }\n}\n\nreturn newItems;\n"},"id":"640e9ca9-de7d-4dae-a15a-d0232864c877","name":"Format Users","type":"n8n-nodes-base.code","position":[1500,1360],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/copyMessage?chat_id={{ $('Split In Batches1').item.json[\"user\"][\"chat_id\"] }}&from_chat_id={{ $('Bot-Config').item.json[\"Boradcast_Channel_ID\"] }}&message_id={{ $('Bot-Config').item.json[\"channel_post\"][\"message_id\"] }}","options":{}},"id":"8c330aca-3720-439e-87c6-47d914f828c3","name":"Broadcast Channel Post into Users","type":"n8n-nodes-base.httpRequest","position":[2080,1340],"typeVersion":4.1,"onError":"continueErrorOutput"},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id || $('Split In Batches1').item.json.user.chat_id }}","value":"={\"Blocked\":{{ '1' }}}","keyType":"hash"},"id":"3beb15dd-6e76-4350-97c3-22f39d768497","name":"Set Blocked Member","type":"n8n-nodes-base.redis","position":[2260,1480],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Config').item.json.channel_post.sender_chat.id }}","operation":"regex","value2":"={{ $('Bot-Config').item.json.Boradcast_Channel_ID }}"}]}},"id":"03d457f1-ca11-4134-b0f9-d4d029ce141a","name":"IF Verified Channel","type":"n8n-nodes-base.if","position":[1140,1380],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.user.Blocked }}","operation":"notRegex","value2":"1"}]}},"id":"6f38d2d0-5734-4829-ab97-8aca57827646","name":"Filter Blocked Users","type":"n8n-nodes-base.filter","position":[1680,1360],"typeVersion":1},{"parameters":{"content":"## Channel Side (Broadcasting)\n**This Part** where the support of brand broadcasting message to all previous users who used this bot before.","height":460.58353708231465,"width":1413.320293398532,"color":6},"id":"37ffb301-0284-493e-abed-aaff293b4a92","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1040,1200],"typeVersion":1},{"parameters":{"operation":"keys","keyPattern":"=TG-USER-*"},"id":"d34a0080-6db8-4d29-b6ff-b0b0bf3be8af","name":"Retrieve all users in DB","type":"n8n-nodes-base.redis","position":[1320,1360],"notesInFlow":true,"typeVersion":1,"notes":"Search Key"}],"connections":{"1st":{"main":[null,[{"node":"Check User in Database","type":"main","index":0}],[{"node":"Support Forum","type":"main","index":0}],[{"node":"IF Verified Channel","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Format":{"main":[[{"node":"Bot-Fields","type":"main","index":0}]]},"Bot-Config":{"main":[[{"node":"Format","type":"main","index":0}]]},"Bot-Fields":{"main":[[{"node":"1st","type":"main","index":0}]]},"New User ?":{"main":[[{"node":"Save User Data","type":"main","index":0}],[{"node":"Update User Data","type":"main","index":0}]]},"From Ticket":{"main":[[{"node":"Forward Support Reply To User","type":"main","index":0}],[{"node":"IF Topic Created","type":"main","index":0}]]},"Format Users":{"main":[[{"node":"Filter Blocked Users","type":"main","index":0}]]},"Telegram-Bot":{"main":[[{"node":"Bot-Config","type":"main","index":0}]]},"Save Topic ID":{"main":[[{"node":"Forward New Message","type":"main","index":0}]]},"Support Forum":{"main":[[{"node":"From Ticket","type":"main","index":0}]]},"Save User Data":{"main":[[{"node":"Create Topic (Chat Ticket)","type":"main","index":0}]]},"ReSave Topic ID":{"main":[[{"node":"Forward New Message to the recrated topic","type":"main","index":0}]]},"IF Topic Created":{"main":[[{"node":"Send User Ticket Created Notification","type":"main","index":0}]]},"Update User Data":{"main":[[{"node":"Get User Chat Topic","type":"main","index":0}]]},"Split In Batches1":{"main":[[{"node":"Broadcast Channel Post into Users","type":"main","index":0}]]},"Set Blocked Member":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Forward New Message":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"IF No Topic Created","type":"main","index":0}]]},"Get User Chat Topic":{"main":[[{"node":"Forward New Message","type":"main","index":0}]]},"IF No Topic Created":{"main":[[{"node":"ReCreate Topic (Chat Ticket)","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"IF Verified Channel":{"main":[[{"node":"Retrieve all users in DB","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Filter Blocked Users":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Check User in Database":{"main":[[{"node":"New User ?","type":"main","index":0}]]},"Retrieve all users in DB":{"main":[[{"node":"Format Users","type":"main","index":0}]]},"Create Topic (Chat Ticket)":{"main":[[{"node":"Save Topic ID","type":"main","index":0}]]},"ReCreate Topic (Chat Ticket)":{"main":[[{"node":"ReSave Topic ID","type":"main","index":0}]]},"Forward Support Reply To User":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Broadcast Channel Post into Users":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Set Blocked Member","type":"main","index":0}]]},"Send User Ticket Created Notification":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Forward New Message to the recrated topic":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2045"},"pinData":{},"versionId":"56d4e17e-5a72-4156-85d3-c2e0f96cff33","triggerCount":0,"tags":[]}