files/n8n/zHKBsqh5capWbwBr.json
{"createdAt":"2024-08-26T02:49:27.501Z","updatedAt":"2024-08-29T18:26:00.000Z","id":"zHKBsqh5capWbwBr","name":"bkp","active":true,"nodes":[{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=/files/n8n/{{$json[\"data\"][\"name\"]}}.json","fileContent":"={{JSON.stringify($json[\"data\"])}}","commitMessage":"=[N8N Backup] {{$json.data[\"name\"]}} ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[1000,760],"typeVersion":1,"id":"7a1d5ba2-437b-40da-8f74-667bbd9f8aef","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"/files/n8n","asBinaryProperty":false,"additionalParameters":{}},"name":"Get Files","type":"n8n-nodes-base.github","position":[-210,640],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"19f7cdfd-ca2b-4fb0-88f2-6a108a8c4eac","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"functionCode":"return items[0].json.map(item => {\n  return {\n    json: item\n  }\n});\n"},"name":"Transform","type":"n8n-nodes-base.function","position":[-10,640],"typeVersion":1,"id":"6bfff848-2be3-4415-b93b-27c33c4cf4a0"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=/files/n8n/{{$json[\"data\"][\"name\"]}}.json","fileContent":"={{JSON.stringify($node['Merge'].json[\"data\"])}}","commitMessage":"=[N8N Backup] {{$json.data[\"name\"]}}.json ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file","type":"n8n-nodes-base.github","position":[1040,420],"typeVersion":1,"id":"f13db7bc-0be0-4c3a-b2f1-b8b8b23a79b5","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"mode":"removeKeyMatches","propertyName1":"data.name","propertyName2":"data.name"},"name":"Merge","type":"n8n-nodes-base.merge","position":[740,420],"typeVersion":1,"id":"7c89fb19-3475-44ef-891f-7f7407c86f24"},{"parameters":{"authentication":"headerAuth","url":"http://82.180.136.148:3334/rest/workflows/","options":{},"headerParametersUi":{"parameter":[{"name":"X-N8N-API-KEY","value":"n8n_api_97bb7162e597dabf2609f34eddf15a6acaa27023838b3d0731149e5fb063f255560d1e1f6f8f20c6"}]}},"name":"Get workflows","type":"n8n-nodes-base.httpRequest","position":[10,440],"typeVersion":1,"id":"906ba0fe-1ba6-42e6-afa7-5c5b40d59dfc","credentials":{"httpHeaderAuth":{"id":"QvMKEdhbb2iwjBrL","name":"Header Auth account"}}},{"parameters":{"authentication":"basicAuth","url":"=http://localhost:5678/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"Get workflow data","type":"n8n-nodes-base.httpRequest","position":[410,440],"typeVersion":1,"id":"9640b231-883c-45b6-ab4c-d93790426bc4","credentials":{"httpBasicAuth":{"id":"xBea0QJxp1J0gJd2","name":"n8n creds"}}},{"parameters":{"authentication":"headerAuth","url":"={{$json[\"download_url\"]}}","responseFormat":"string","options":{}},"name":"Download Raw Content","type":"n8n-nodes-base.httpRequest","position":[190,640],"typeVersion":1,"id":"16e7ae62-9e92-40c2-aaf8-b374bac54624","credentials":{"httpHeaderAuth":{"id":null,"name":"GitHub Token"}}},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"transform","type":"n8n-nodes-base.function","position":[200,440],"typeVersion":1,"id":"2da93783-d0de-4e87-ad57-c663fa701189"},{"parameters":{"triggerTimes":{"item":[{"hour":23,"minute":59}]}},"name":"Daily at 23:59","type":"n8n-nodes-base.cron","position":[-680,440],"typeVersion":1,"id":"f35a6556-b0ad-4d9c-9fd5-65a112233ac9"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"data.updatedAt","propertyName2":"data.updatedAt"},"name":"Merge1","type":"n8n-nodes-base.merge","position":[780,750],"typeVersion":1,"id":"e10794e6-702e-4fe7-8a7b-b5e9abc2b847"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{}},"id":"39ade861-dbe3-4a3b-b935-e6178de775d8","name":"Grafana","type":"n8n-nodes-base.grafana","typeVersion":1,"position":[-220,940],"credentials":{"grafanaApi":{"id":"pT9cWfHVj4M6AdCw","name":"Grafana account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"Shares","mode":"name"},"filePath":"/files/grafana","asBinaryProperty":false,"additionalParameters":{}},"name":"Get dashs","type":"n8n-nodes-base.github","position":[-220,1160],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"20ef9283-3dba-45da-b09d-1eb6121da068","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"mode":"mergeByKey","propertyName1":"uid","propertyName2":"uid"},"name":"Merge3","type":"n8n-nodes-base.merge","position":[540,1140],"typeVersion":1,"id":"f7a9d3f3-08a3-4f9c-ab2c-8deb63690e5c"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":"name"},"repository":{"__rl":true,"value":"shares","mode":"name"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"aa0dbc40-85c3-4984-b793-e48094d88685","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[-40,1160],"credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"functionCode":"return items\n  .map(item => {\n  return {json:{...item,uid:item.json.name.replace('.json','')}}\n});\n"},"name":"TransformGrafanaGithub","type":"n8n-nodes-base.function","position":[140,1160],"typeVersion":1,"id":"7b371515-1ff8-4df9-b399-9005e0ef89c9"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"uid","propertyName2":"uid"},"name":"Merge2","type":"n8n-nodes-base.merge","position":[540,960],"typeVersion":1,"id":"8084aadb-e4cf-4495-94c2-c7fca19229cf"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/grafana/{{ $json.dashboard.uid}}.json","fileContent":"={{JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{ $json.dashboard.title }}.json ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file1","type":"n8n-nodes-base.github","position":[940,960],"typeVersion":1,"id":"0397934b-0e96-4578-b286-afe40e026816","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/grafana/{{$json.dashboard.uid}}.json","fileContent":"={{ JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{$json.dashboard.title}} ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit1","type":"n8n-nodes-base.github","position":[940,1140],"typeVersion":1,"id":"61811db3-9e7b-459b-bf3b-d910dec44210","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"operation":"get","dashboardUidOrUrl":"={{ $json.uid }}"},"id":"5ced6e99-a335-458b-88a6-924399bc3dae","name":"getDash","type":"n8n-nodes-base.grafana","typeVersion":1,"position":[760,960],"credentials":{"grafanaApi":{"id":"pT9cWfHVj4M6AdCw","name":"Grafana account"}}},{"parameters":{"operation":"get","dashboardUidOrUrl":"={{ $json.uid }}"},"id":"ed5320a3-a71d-4ede-b5ef-1ebb85d99096","name":"getDash1","type":"n8n-nodes-base.grafana","typeVersion":1,"position":[760,1140],"credentials":{"grafanaApi":{"id":"pT9cWfHVj4M6AdCw","name":"Grafana account"}}}],"connections":{"Merge":{"main":[[{"node":"Create file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"Get Files":{"main":[[{"node":"Transform","type":"main","index":0}]]},"Transform":{"main":[[{"node":"Download Raw Content","type":"main","index":0}]]},"transform":{"main":[[{"node":"Get workflow data","type":"main","index":0}]]},"Get workflows":{"main":[[{"node":"transform","type":"main","index":0}]]},"Daily at 23:59":{"main":[[{"node":"Grafana","type":"main","index":0},{"node":"Get dashs","type":"main","index":0}]]},"Get workflow data":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Download Raw Content":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]},"Get dashs":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Grafana":{"main":[[{"node":"Merge3","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"TransformGrafanaGithub","type":"main","index":0}]]},"TransformGrafanaGithub":{"main":[[{"node":"Merge3","type":"main","index":1},{"node":"Merge2","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"getDash1","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"getDash","type":"main","index":0}]]},"getDash":{"main":[[{"node":"Create file1","type":"main","index":0}]]},"getDash1":{"main":[[{"node":"GitHub Edit1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ead41c38-8c61-47b2-bdd1-e339d42f6e17","triggerCount":1,"shared":[{"createdAt":"2024-08-26T02:49:27.531Z","updatedAt":"2024-08-26T02:49:27.531Z","role":"workflow:owner","workflowId":"zHKBsqh5capWbwBr","projectId":"4GViomCBul5oQgfN","project":{"createdAt":"2024-08-25T02:37:44.788Z","updatedAt":"2024-08-25T02:38:43.239Z","id":"4GViomCBul5oQgfN","name":"Rodrigo Cordeiro <rodrigomendoncca@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-08-25T02:37:44.789Z","updatedAt":"2024-08-25T02:37:44.789Z","role":"project:personalOwner","userId":"7c510815-41f6-46c7-b0a4-37236adacd0d","projectId":"4GViomCBul5oQgfN","user":{"createdAt":"2024-08-25T02:37:43.943Z","updatedAt":"2024-08-29T17:45:43.000Z","id":"7c510815-41f6-46c7-b0a4-37236adacd0d","email":"rodrigomendoncca@gmail.com","firstName":"Rodrigo","lastName":"Cordeiro","personalizationAnswers":{"companyType":"personal","reportedSource":"linkedin","version":"v4","personalization_survey_submitted_at":"2024-08-25T02:40:44.530Z","personalization_survey_n8n_version":"1.55.3"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"9cbyCpf0fZioeTQw","userActivatedAt":1724662838190,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1724949200490}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}