files/n8n/zHKBsqh5capWbwBr.json
{"createdAt":"2024-08-26T02:49:27.501Z","updatedAt":"2024-08-29T18:36:13.000Z","id":"zHKBsqh5capWbwBr","name":"bkp","active":true,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":23,"minute":59}]}},"name":"Daily at 23:59","type":"n8n-nodes-base.cron","position":[-660,940],"typeVersion":1,"id":"f35a6556-b0ad-4d9c-9fd5-65a112233ac9"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{}},"id":"39ade861-dbe3-4a3b-b935-e6178de775d8","name":"Grafana","type":"n8n-nodes-base.grafana","typeVersion":1,"position":[-220,940],"credentials":{"grafanaApi":{"id":"pT9cWfHVj4M6AdCw","name":"Grafana account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"Shares","mode":"name"},"filePath":"/files/grafana","asBinaryProperty":false,"additionalParameters":{}},"name":"Get dashs","type":"n8n-nodes-base.github","position":[-220,1160],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"20ef9283-3dba-45da-b09d-1eb6121da068","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"mode":"mergeByKey","propertyName1":"uid","propertyName2":"uid"},"name":"Merge3","type":"n8n-nodes-base.merge","position":[540,1140],"typeVersion":1,"id":"f7a9d3f3-08a3-4f9c-ab2c-8deb63690e5c"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":"name"},"repository":{"__rl":true,"value":"shares","mode":"name"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"aa0dbc40-85c3-4984-b793-e48094d88685","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[-40,1160],"credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"functionCode":"return items\n  .map(item => {\n  return {json:{...item,uid:item.json.name.replace('.json','')}}\n});\n"},"name":"TransformGrafanaGithub","type":"n8n-nodes-base.function","position":[140,1160],"typeVersion":1,"id":"7b371515-1ff8-4df9-b399-9005e0ef89c9"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"uid","propertyName2":"uid"},"name":"Merge2","type":"n8n-nodes-base.merge","position":[540,960],"typeVersion":1,"id":"8084aadb-e4cf-4495-94c2-c7fca19229cf"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/grafana/{{ $json.dashboard.uid}}.json","fileContent":"={{JSON.stringify($json)}}","commitMessage":"=[Grafana Backup] {{ $json.dashboard.title }} created ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file1","type":"n8n-nodes-base.github","position":[940,960],"typeVersion":1,"id":"0397934b-0e96-4578-b286-afe40e026816","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/grafana/{{$json.dashboard.uid}}.json","fileContent":"={{ JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{$json.dashboard.title}} ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit1","type":"n8n-nodes-base.github","position":[940,1140],"typeVersion":1,"id":"61811db3-9e7b-459b-bf3b-d910dec44210","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"operation":"get","dashboardUidOrUrl":"={{ $json.uid }}"},"id":"5ced6e99-a335-458b-88a6-924399bc3dae","name":"getDash","type":"n8n-nodes-base.grafana","typeVersion":1,"position":[760,960],"credentials":{"grafanaApi":{"id":"pT9cWfHVj4M6AdCw","name":"Grafana account"}}},{"parameters":{"operation":"get","dashboardUidOrUrl":"={{ $json.uid }}"},"id":"ed5320a3-a71d-4ede-b5ef-1ebb85d99096","name":"getDash1","type":"n8n-nodes-base.grafana","typeVersion":1,"position":[760,1140],"credentials":{"grafanaApi":{"id":"pT9cWfHVj4M6AdCw","name":"Grafana account"}}},{"parameters":{"mode":"keepKeyMatches","propertyName1":"id","propertyName2":"id"},"name":"Merge","type":"n8n-nodes-base.merge","position":[540,660],"typeVersion":1,"id":"42d55c58-cd58-4a0a-ba80-15b3d044fd78"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":"name"},"repository":{"__rl":true,"value":"shares","mode":"name"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"9688b167-24e1-440c-8eb9-f774a70762dc","name":"GitHub1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-40,680],"credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"mode":"removeKeyMatches","propertyName1":"id","propertyName2":"id"},"name":"Merge4","type":"n8n-nodes-base.merge","position":[540,480],"typeVersion":1,"id":"c50a6679-6454-4424-a15d-f807beca6e74"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/n8n/{{ $json.id}}.json","fileContent":"={{JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{ $json.name}} workflow created ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file","type":"n8n-nodes-base.github","position":[940,480],"typeVersion":1,"id":"d6d44868-5f23-44fb-9ae9-c1911e4850e4","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"shares","mode":""},"filePath":"=files/n8n/{{$json.id}}.json","fileContent":"={{ JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{$json.name}} workflow updated ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[940,660],"typeVersion":1,"id":"a232198d-e551-4384-b06d-aecf8de563a8","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"rodcordeiro","mode":""},"repository":{"__rl":true,"value":"Shares","mode":"name"},"filePath":"/files/n8n","asBinaryProperty":false,"additionalParameters":{}},"name":"Get workflows","type":"n8n-nodes-base.github","position":[-220,680],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"ba915c88-c347-4155-a809-8febd9b964cb","credentials":{"githubApi":{"id":"rsm8qF0Raw1IJeej","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"8af4f5c3-2cb9-4fc1-b84a-76c051f91ac5","name":"workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-220,460],"credentials":{"n8nApi":{"id":"q7aly81q3Ht8JhGC","name":"n8n account"}}},{"parameters":{"functionCode":"return items\n  .map(item => {\n  return {json:{...item,\n                id:item.json.name.replace('.json','')}}\n});\n"},"name":"TransformN8nGithub","type":"n8n-nodes-base.function","position":[140,680],"typeVersion":1,"id":"83e53ac7-d41e-43a8-974f-89069f07f698"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"id":"b6f6c16c-87fb-4ebf-815e-546f8b843202","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[760,480],"credentials":{"n8nApi":{"id":"q7aly81q3Ht8JhGC","name":"n8n account"}}},{"parameters":{"authentication":"webhook","content":"={{ $json.commit.message }}","options":{}},"id":"55e1ac66-d426-433c-a1a6-97efbb22f1cc","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[1160,480],"credentials":{"discordWebhookApi":{"id":"7PIUf9x4cVtVDDuN","name":"Testes "}}},{"parameters":{"authentication":"webhook","content":"={{ $json.commit.message }}","options":{}},"id":"e840d0fc-8f2d-40fb-b34c-62bee9db2433","name":"Discord1","type":"n8n-nodes-base.discord","typeVersion":2,"position":[1120,960],"credentials":{"discordWebhookApi":{"id":"7PIUf9x4cVtVDDuN","name":"Testes "}}}],"connections":{"Daily at 23:59":{"main":[[{"node":"Grafana","type":"main","index":0},{"node":"workflows","type":"main","index":0},{"node":"Get workflows","type":"main","index":0},{"node":"Get dashs","type":"main","index":0}]]},"Get dashs":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Grafana":{"main":[[{"node":"Merge3","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"TransformGrafanaGithub","type":"main","index":0}]]},"TransformGrafanaGithub":{"main":[[{"node":"Merge3","type":"main","index":1},{"node":"Merge2","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"getDash1","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"getDash","type":"main","index":0}]]},"getDash":{"main":[[{"node":"Create file1","type":"main","index":0}]]},"getDash1":{"main":[[{"node":"GitHub Edit1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"TransformN8nGithub","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Get workflows":{"main":[[{"node":"GitHub1","type":"main","index":0}]]},"workflows":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge4","type":"main","index":0}]]},"TransformN8nGithub":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge4","type":"main","index":1}]]},"n8n":{"main":[[{"node":"Create file","type":"main","index":0}]]},"Create file":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Create file1":{"main":[[{"node":"Discord1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"034594d4-93e3-4b3f-bec8-e7b194f90dc0","triggerCount":1,"tags":[]}