files/n8nHfH2LROE7rkfzNtc.json
{
  "active": true,
  "connections": {
    "Daily": {
      "main": [
        [
          {
            "node": "pendente_categorizacao_total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly": {
      "main": [
        [
          {
            "node": "pendente_categorizacao_semanal",
            "type": "main",
            "index": 0
          },
          {
            "node": "total_transacoes_semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pendente_categorizacao_total": {
      "main": [
        [
          {
            "node": "Daily Uncategorized Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "total_transacoes_semana": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Weekly message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pendente_categorizacao_semanal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "pendente_categorizacao_semanal1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2024-12-11T14:38:10.216Z",
  "id": "HfH2LROE7rkfzNtc",
  "meta": null,
  "name": "Moneto",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "315a910a-78cc-45e6-b272-3ab45e5636dc",
      "name": "Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $('pendente_categorizacao_total').item.json.total }} items a categorizar",
        "options": {
          "avatar_url": "https://moneto-app.gabrielbizzi.com.br/logo.svg",
          "username": "Moneto"
        }
      },
      "id": "e94f1dfb-5710-4b3e-a022-c4f928481e9b",
      "name": "Daily Uncategorized Msgs",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        420,
        0
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "HTMLJDOd7rFJsX9c",
          "name": "Darth Fin"
        }
      }
    },
    {
      "parameters": {
        "queue": "Moneto",
        "options": {
          "assertExchange": true,
          "binding": {
            "bindings": [
              {
                "exchange": "moneto",
                "routingKey": "moneto"
              }
            ]
          },
          "acknowledge": "immediately",
          "durable": true,
          "jsonParseBody": true
        }
      },
      "id": "ab3ec5f6-c4aa-4146-8056-1fbdcfa3adbc",
      "name": "RabbitMQ Trigger",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        40,
        640
      ],
      "credentials": {
        "rabbitmq": {
          "id": "YKPa7yJaTY8ppSj1",
          "name": "RabbitMQ N8N Account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "5a36aa13-0daf-48a3-8999-150972cae746",
      "name": "Weekly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  count(a.id) as total,\n  b.positive\nFROM\n  TB_TRANSACTIONS a\n  join TB_CATEGORIES b on a.category = b.id\nWHERE\n  b.transient is true\n  and a.owner = 26",
        "options": {}
      },
      "id": "0d2c17f5-0a74-4148-acf4-7884b132e3b2",
      "name": "pendente_categorizacao_total",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        220,
        0
      ],
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "VB6b2tGjbL83NWWx",
          "name": "Moneto"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(a.id) AS weekly_total_transactions,\n  SUM(\n    CASE\n      WHEN b.positive THEN a.value\n      ELSE a.value * -1\n    END\n  ) AS value\nFROM\n  TB_TRANSACTIONS a\n  JOIN TB_CATEGORIES b ON a.category = b.id\nWHERE\n  a.date >= (current_date - INTERVAL 7 DAY)\n  AND a.owner = 26",
        "options": {}
      },
      "id": "60025125-fae6-4065-a9bd-cef89dab91b3",
      "name": "total_transacoes_semana",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        200,
        420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "VB6b2tGjbL83NWWx",
          "name": "Moneto"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        440,
        220
      ],
      "id": "8061c0b4-e62f-4876-900c-25bfbe3d9a99",
      "name": "Merge",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  count(a.id) as total_transactions,\n  sum(\n    case\n      when b.positive then 1\n      else 0\n    end\n  ) as positive,\n  sum(\n    case\n      when b.positive then 0\n      else 1\n    end\n  ) as negative\nFROM\n  TB_TRANSACTIONS a\n  join TB_CATEGORIES b on a.category = b.id\nWHERE\n  b.transient is TRUE\n  and a.owner = 26",
        "options": {}
      },
      "id": "4b4c2d6b-872d-4029-88b0-9d9392a7d313",
      "name": "pendente_categorizacao_semanal",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        200,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "VB6b2tGjbL83NWWx",
          "name": "Moneto"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=",
        "options": {
          "avatar_url": "https://moneto-app.gabrielbizzi.com.br/logo.svg",
          "username": "Moneto"
        },
        "embeds": {
          "values": [
            {
              "description": "=# Atualizações banky:\n\n#{{ $json.total_transactions }} transações pendente de categorização, sendo #{{ $json.positive }} de receitas e #{{ $json.negative }} de despesas.\n\n#{{ $json.weekly_total_transactions }} Transações anotadas nos últimos 7 dias, movimentando um total de R$ {{ $json.value }}.\n\nTenha um bom dia!",
              "color": "#8a2be2"
            }
          ]
        }
      },
      "id": "fa7ee236-810b-469b-88a7-9694008c20fc",
      "name": "Weekly message",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        600,
        220
      ],
      "executeOnce": true,
      "credentials": {
        "discordWebhookApi": {
          "id": "HTMLJDOd7rFJsX9c",
          "name": "Darth Fin"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "TB_TRANSACTIONS",
          "mode": "list",
          "cachedResultName": "TB_TRANSACTIONS"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "uuid",
              "value": "={{ $json.content.transaction }}"
            }
          ]
        },
        "options": {}
      },
      "id": "774920d7-1ddf-4e83-a388-b4fd55e881c7",
      "name": "pendente_categorizacao_semanal1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        600,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "VB6b2tGjbL83NWWx",
          "name": "Moneto"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.action }}",
                    "rightValue": "new_transaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new_transaction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9f7d1f33-dbb3-4149-83cb-98042c2bc455",
                    "leftValue": "={{ $json.content.action }}",
                    "rightValue": "new_account",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new_account"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        640
      ],
      "id": "90f7850d-ecda-47ed-b697-bc2043f0434e",
      "name": "Switch",
      "disabled": true
    }
  ],
  "pinData": {},
  "repo_name": "shares",
  "repo_owner": "rodcordeiro",
  "repo_path": "files/n8n",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Daily": {
      "recurrenceRules": []
    },
    "node:Weekly": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-02-06T12:48:10.000Z",
  "versionId": "fb02e4da-2a44-46da-ab1b-364cfe55a9ed"
}